<div class="container-fluid">
  <!--<div class="totop" ng-show="showTopAnchor" ng-click="scrollTo('container');"><img-->
  <!--src="img-no-min/to-top.png" alt="" class=""></div>-->
  <div class="row">
    <div id="pageMiddle" class="pageMiddle innerPageMiddle">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mr0 pd0">
        <form class="" id="bigform">
          <div class="form-group relcysrchInput mr0">
            <div class="input-group">

              <angucomplete-alt id="searchInputText"
                                placeholder="Type To Search"
                                pause="400"
                                input-changed='onInputChange'
                                selected-object="onAutoCompleteSelect"
                                remote-url="{{getBaseUrl()}}/autocomplete?sessionId=b9a30926-e912-11e4-b02c-1681e6b88ec1&query="
                                remote-url-data-field="auto_complete_item"
                                title-field="title"
                                image-field="image"
                                template-url="views/suggestion.html"
                                remote-url-response-formatter="addScores"
                                input-class="form-control tran_top text-center"
                                minlength="1"
                                focus-out="hideSearchDropdown()"
                />
            </div>
            <div class="input-group-addon search-btn-circle">
              <button type="submit" class="btn btn-link btn-circle" ui-sref="search({q:query})">
                <i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
