*
	{
	color: DimGray;
	font-family:  "Avenir Next", "Andale Mono", "Verdana", "Arial", sans-serif;
	font-size: 12pt;
	}
html
	{
	height: 89%;
	margin: 0px;
	padding: 0px;
	}
body
	{
	background-color: white;
	height: 100%;
	margin: 0px;
	padding: 0px;
	}
h1
	{
	font-size: 1.1em;			
	font-weight: 700;
	margin: 0px;
	margin-top: 1.5em;
	padding: 0px;
	}
h2
	{
	font-size: 1.1em;		
	font-weight: 500;
	margin: 0px;
	padding: 0px;
	}
.centered-outer
	{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	}
.centered-middle
	{
    display: table;
    width: 100%;
    height: 100%;
	}	
.centered
	{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	}
