@charset "utf-8";
/* CSS Document */
body {
  font-family: "weblysleek_uilight";
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/relcy-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

a {
  color: #51ce42;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: none;
}

a:focus {
  outline: medium none;
  outline-offset: -2px;
}

.wrapper {
  z-index: 2;
  position: relative;
}

.transparent-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  background-image: url("../images/gradient-bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
}

.logo img {
  margin-left: -70px;
  margin-top: 20px;
}

.logo {
  background-attachment: scroll;
  background-image: url("../images/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 94px;
  left: 36px;
  position: fixed;
  top: 40px;
  width: 230px;
  z-index: 1;
}

.devices {
  text-align: center;
  padding: 30px 0;
}

.devices h1 {
  font-family: 'weblysleek_uisemilight_italic';
  font-size: 60px;
  color: #072545;
  margin: 65px 0px 0px;
}

.bottom {
  padding: 30px 0 0;
  /*border-top: solid 2px #eee;*/
  /*box-shadow: 0 0 200px rgba(255, 255, 255, 1);*/
  /*background-color: rgba(255, 255, 255, 0.8);*/
  width: 100%;
}

.content {
  color: #04182b;
  /*margin-top: 24px;*/
}

.content h4 {
  font-family: 'weblysleek_uisemilight';
  font-size: 30px;
  color: #04182b;
  margin-top: 0px;
}

.content p {
  font-family: 'weblysleek_uisemibold';
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 0;
  line-height: 26px;
  color: #04182b;
}

.toggle {
  width: 100%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  word-spacing: 0;
}

.toggle .btn-primary.active, .toggle .btn-primary.focus,
.toggle .btn-primary:active, .toggle .btn-primary:focus,
.toggle .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background-color: #0a355f;
  border-color: #999;
  color: #fff;
}

.toggle .btn {
  border-radius: 8px;
  padding: 2px 12px;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 0;
}

.toggle .btn.active, .toggle .btn:active {
  box-shadow: none;
}

.toggle .btn-primary {
  background-color: #ffffff;
  border-color: #999999;
  color: #313131;
  width: 50%;

}

.form-control::-moz-placeholder {
  color: #313131;
  opacity: 1;
  letter-spacing: 1px;
  word-spacing: 0;
}

.form-control::-webkit-input-placeholder {
  color: #313131;
  opacity: 1
}

.form-control {
  border-radius: 8px;
  margin-bottom: 15px;
  color: #313131;
  font-size: 17px;
  text-align: center;
}

.devices-img {
  background-image: url("../images/devices.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  display: block;
  width: 430px;
  height: 234px;
  margin: 140px auto 0;
}

.customButton {
  font-family: 'weblysleek_uisemibold';
  background: #51cf42 !important;
  opacity: 1 !important;
  border: none !important;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 0;
  margin-bottom: 10px;
}

.sms-form {
  min-width: 248px;
}

.footer {
  bottom: 0;
  color: #09355f;
  padding: 10px;
  position: fixed;
  z-index: 2;
  right: 0;
  width: 100%;
  background-color: none;
}

.footer-thanks {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.thank {
  float: none;
  margin: 0 auto;
  padding: 135px 0;
}

.thank h2 {
  font-size: 79px;
  color: #072545;
}

.thank h5 {
  color: #04182b;
  font-size: 30px;
  padding: 0 100px;
}

/* --------------------------------------------------------- */
/* APPLE MACBOOK PRO RETINA ETC. --------------------------- */
/* --------------------------------------------------------- */

/* Retina Displays/Screens (2880x1800) --------------------- */

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/relcy-background@2x.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
  }

  .logo {
    background-image: url("../images/logo@2x.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 230px 94px;
  }

  .devices-img {
    background-image: url("../images/devices@2x.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 430px 234px;
  }
}

/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 100%;
  }

  .devices-img {
    background-position: center bottom;
    background-size: 147px 80px;
    width: 147px;
    height: 80px;
    margin: 40px auto 0;
  }

  .devices h1 {
    font-size: 24px;
    margin: 20px 0px 0px;
  }

  .devices h2 {
    font-size: 24px;
  }

  .content {
    color: #04182b;
    margin-top: 0;
  }

  .content p {
    font-size: 12px;
    line-height: 18px;
  }

  .logo {
    background-size: 115px 47px;
    width: 115px;
    height: 47px;
    left: 15px;
    top: 20px;
  }

  .devices {
    padding: 30px 0 15px;
  }

  .bottom {
    box-shadow: none;
    padding: 10px 0 0;
    background-color: transparent;
    border-top: none;
  }

  div.col-lg-8.col-md-8.col-sm-8 {
    width: 100%
  }

  div.col-lg-4.col-md-4.col-sm-4 {
    width: 100%
  }

  .toggle .btn:first-child, .toggle .btn:last-child {
    border-radius: 8px !important;
    width: 48%;
  }

  .toggle .btn:first-child {

  }

  .toggle .btn:last-child {
    float: right;
  }

  .content h4 {
    display: none;
  }

  .content p:nth-child(3), .content p:nth-child(4) {
    display: none;
  }

  .toggle .btn, .form-control, .customButton {
    font-size: 14px;
    padding: 8px;
    height: auto;
  }

  .toggle, .form-control {
    margin-bottom: 10px;
  }

  .toggle .btn-primary {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .footer {
    position: relative;
  }
}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 100%;
  }

  .devices-img {
    background-position: center bottom;
    background-size: 147px 80px;
    width: 147px;
    height: 80px;
    margin: 40px auto 0;
  }

  .devices h1 {
    font-size: 26px;
    margin: 20px 0px 0px;
  }

  .devices h2 {
    font-size: 24px;
  }

  .content p {
    font-size: 13px;
    line-height: 20px;
  }

  .logo {
    background-size: 115px 47px;
    width: 115px;
    height: 47px;
    left: 15px;
    top: 20px;
  }

  .devices {
    padding: 10px 0 15px;
  }

  .bottom {
    box-shadow: none;
    padding: 10px 0 0;
    background-color: transparent;
    border-top: none;
  }

  div.col-lg-8.col-md-8.col-sm-8 {
    width: 60%;
    float: left;
  }

  div.col-lg-4.col-md-4.col-sm-4 {
    width: 40%;
    float: right;
  }

  .toggle .btn:first-child, .toggle .btn:last-child {
    border-radius: 8px !important;
    width: 48%;
  }

  .toggle .btn:first-child {

  }

  .toggle .btn:last-child {
    float: right;
  }

  .content h4 {
    display: none;
  }

  .content p:nth-child(3), .content p:nth-child(4) {
    display: none;
  }

  .toggle .btn, .form-control, .customButton {
    font-size: 14px;
    padding: 8px;
    height: auto;
  }

  .toggle, .form-control {
    margin-bottom: 5px;
  }

  .toggle .btn-primary {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .footer {
    position: relative;
  }
}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    width: 100%;
  }

  .devices-img {
    background-position: center bottom;
    background-size: 147px 80px;
    width: 147px;
    height: 80px;
    margin: 86px auto 0;
  }

  .devices h1 {
    font-size: 27px;
    margin: 20px 0px 0px;
  }

  .devices h2 {
    font-size: 26px;
  }

  .content p {
    font-size: 14px;
    line-height: 20px;
  }

  .logo {
    background-size: 115px 47px;
    left: 15px;
    top: 20px;
    width: 115px;
    height: 47px;
  }

  .devices {
    padding: 30px 0 15px;
  }

  .bottom {
    box-shadow: none;
    padding: 10px 0 0;
    background-color: transparent;
    border-top: none;
  }

  div.col-lg-8.col-md-8.col-sm-8 {
    width: 100%
  }

  div.col-lg-4.col-md-4.col-sm-4 {
    width: 100%
  }

  .toggle .btn:first-child, .toggle .btn:last-child {
    border-radius: 8px !important;
    width: 48%;
  }

  .toggle .btn:first-child {
  }

  .toggle .btn:last-child {
    float: right;
  }

  .content h4 {
    display: none;
  }

  .content p:nth-child(3), .content p:nth-child(4) {
    display: none;
  }

  .toggle .btn, .form-control, .customButton {
    font-size: 14px;
    padding: 8px;
    height: auto;
  }

  .toggle, .form-control {
    margin-bottom: 10px;
  }

  .toggle .btn-primary {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .footer {
    position: relative;
  }
}

/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    width: 100%;
  }

  .devices-img {
    background-position: center bottom;
    background-size: 147px 80px;
    width: 147px;
    height: 80px;
    margin: 40px auto 0;
  }

  .devices h1 {
    font-size: 30px;
    margin: 20px 0px 0px;
  }

  .devices h2 {
    font-size: 26px;
  }

  .content {
    color: #04182b;
    margin-top: 20px;
  }

  .content p {
    font-size: 12px;
    line-height: 18px;
  }

  .logo {
    background-size: 115px 47px;
    width: 115px;
    height: 47px;
    left: 15px;
    top: 20px;
  }

  .devices {
    padding: 30px 0 15px;
  }

  .bottom {
    box-shadow: none;
    padding: 10px 0 0;
    background-color: transparent;
    border-top: none;
  }

  div.col-lg-8.col-md-8.col-sm-8 {
    width: 62.5%;
    float: left;
  }

  div.col-lg-4.col-md-4.col-sm-4 {
    width: 37%;
    float: right;
  }

  .toggle .btn:first-child, .toggle .btn:last-child {
    border-radius: 8px !important;
    width: 48%;
  }

  .toggle .btn:first-child {

  }

  .toggle .btn:last-child {
    float: right;
  }

  .content h4 {
    display: none;
  }

  .content p:nth-child(3), .content p:nth-child(4) {
    display: none;
  }

  .toggle .btn, .form-control, .customButton {
    font-size: 14px;
    padding: 8px;
    height: auto;
  }

  .toggle, .form-control {
    margin-bottom: 10px;
  }

  .toggle .btn-primary {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .footer {
    position: relative;
  }
}

/* IPADS --------------------------------------------------- */

/* iPads (portrait and landscape) -------------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* iPads (portrait) ---------------------------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container {
    width: 700px;
  }

  div.col-lg-8.col-md-8.col-sm-8 {
    width: 100%
  }

  div.col-lg-4.col-md-4.col-sm-4 {
    width: 50%
  }
}

/* iPads (landscape) --------------------------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container {
    width: 960px;
  }

  div.col-lg-8.col-md-8.col-sm-8 {
    /*width: 100%*/
  }

  div.col-lg-4.col-md-4.col-sm-4 {
    /*width: 50%*/
  }
}

/* iPad Retina (iPad 3; portrait and landscape) ------------ */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (min--moz-device-pixel-ratio: 2), only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (min-device-pixel-ratio: 2), only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (min-resolution: 2dppx) {

}

/* COMPUTERS / OTHER DEVICES ------------------------------- */
/* Displays/Screens (e.g. MacBook @ 1280x800) -------------- */
@media only screen and (min-width: 768px) and (max-width: 1249px) {
  .col-sm-8 {
    width: 100%;
  }

  .col-sm-4 {
    min-width: 300px;
  }
}

/* Displays/Screens (e.g. MacBook @ 1280x800) -------------- */
@media only screen and (min-width: 1250px) and (max-width: 1409px) {

}

/* Displays/Screens (e.g. 19" WS @ 1440x900) --------------- */
@media only screen and (min-width: 1410px) and (max-width: 1649px) {

}

/* Displays/Screens (e.g. 22" WS @ 1680x1050) -------------- */
@media only screen and (min-width: 1650px) and (max-width: 1889px) {

}

/* Displays/Screens (e.g. 24" WS @ 1920x1080) -------------- */
@media only screen and (min-width: 1890px) and (max-width: 2529px) {

}

/* Really Large Displays/Screens (e.g. 2560x1440) ---------- */
@media only screen and (min-width: 2530px) {

}

