<div class="resultList"> 
  <!-- <a name="RELATED_SEARCHES"></a> -->
  <div class="media col-lg-12">
    <div ng-click="openCastLightbox(cat.values,'IMAGES',$index)" ng-repeat="result in cat.values | limitTo: cat.maxIndex">
    	<div class="col-lg-3 pd10 pull-left">
            <a href="javascript:void();">
            <div style=" background-image:url({{result.thumbnailUrl}});" class="imagethumb"></div>
            </a>
       </div> 
    </div>

  </div>
    <div class="clearfix"></div>
  <div class="panelList"> <a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length" ng-click="incrementAndScroll(cat)"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a> </div>
</div>
