html, body {height:100%; overflow:hidden;}
body {padding: 0; 
background-image: url(../images/flum-background.jpg), url(../images/flum-bg-tile.jpg);
background-position: right top, left top;
background-repeat: no-repeat, repeat;
background-size:cover, auto auto;
color:#FFF; font-family:"latolight"}
a {-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
a:hover, a:focus {text-decoration:none; outline:none;}
.container-fluid {height:100%; width:400px; height:650px; margin: 8% 0 0 20%;}
.home {height:650px; width:350px;}
.home h1.logo {margin:0px; padding:0px; margin-bottom:40px;}
.home h1.logo img { height:128px;}
.home .content p {font-size:58px; font-family:"latolight"; line-height:58px;}
.home .content a {font-size:20px; color:#FFF; border-bottom:solid 1px; display:inline-block; float:right;}
.mT50 {margin-top:50px; }
.home .content p span {font-family:"latobold"; line-height:35px; display:inline-block; height:45px; padding:0px 5px;}
.home .content p .order {background-color:#e1b02a; 
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
}
.home .content p .sense {background-color:#ee5c5c;
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
-ms-transform: rotate(2deg);
}
.rotate-exe {background-color:#1ea6dd; font-family:"latolight"!important;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
}

.box {position:absolute; top:19%; width:400px; height:650px; padding:20px;}
.box h1 {font-size:60px;}
.box img {height:auto; width:100%; margin:25px 0px 30px;}
.box p {font-size:22px;}
.box h1 span {border-bottom:solid 1px;}
.box.teams {background-color:#e1b02a;}
.box.stream {background-color:#ec4646;}
.box.groups {background-color:#3f94d7;}
.box.hooks {background-color:#3dc7bf;}
.box.intelligence {background-color:#35b77b;}
.box.discovery {background-color:#3f94d7;}
.box.experience, .box.login {background-color:#1b1b1b;}

.teams {border:1px solid rgba(0,0,0,0.2); background:#f00; color:#fff; border-radius:0px;}
.contentSlide {position:absolute; bottom:22%; z-index:9999;}
.contentSlide .pagination {text-align:center; width:100%; padding-left:35%;}
.contentSlide .pagination li a { background-color:transparent; border:none; margin:0px 5px; padding:0px; color:#eccd77;}
.contentSlide .pagination {text-align:center;}
.contentSlide .pagination li.active a {color:#FFF;}
.contentSlide .pagination li a:hover,.pagination li a:focus { background-color:transparent; border:none; color:#FFF; }
.next {float:right; color:#FFF; font-size:18px; position:absolute!important; bottom:10px; right:10px; padding:10px 25px;}
.previous {float:left; color:#FFF; font-size:18px; position:absolute!important; bottom:10px; left:10px; padding:10px 25px;}
.next:hover, .next:focus {color:#FFF; outline:none;}
.previous:hover, .previous:focus {color:#FFF; outline:none;}

.loginform {}
.loginform  .form-group {margin:30px 0px;}
.loginform input {background:none; border:none; box-shadow:none; border-bottom:solid 1px #333; border-radius:0px; padding-left:0px; color:#FFF; font-size:18px;}
.loginform input:focus {box-shadow:none;}
.loginform .btn {background-color:#1ca5dc; border:none; text-transform:uppercase; font-size:24px; border-radius:0px; height:45px; padding:6px 24px;
transition: 0.3s ease-out all;  -webkit-transition: 0.3s ease-out all;}
.loginform .btn:hover {background-color:#2d97c1;}
.home .email, .home .email a {font-size:14px; border-bottom:none;}

.experience .content p {font-size:52px;}
.home.experience .content a { position:absolute; bottom:20%;}
.home.experience .request { position:absolute; bottom:20%; color:#FFF; font-size:20px; border-bottom:solid 1px #FFF;}
.home.login .content a { float:none;}
.home.login p {font-size:42px; line-height:42px;}
.home.login img {margin:0px 0px 0px;}
.home.login form {margin:50px 0px 60px;}
.home.login .form-group {margin:25px 0px;}
.social {margin:50px 0px;}
.login .social a {border-radius:0px; text-align:center; display:inline-block; border-bottom:none; margin-right:10px;}
.social .google {background-color:#d83d27; color:#FFF;}
.social .facebook {background-color:#284d93; color:#FFF;}
.social .twitter {background-color:#02a1d8; color:#FFF;}
.social .linkedin {background-color:#016eaf; color:#FFF;}
.login .email {position:absolute; bottom:20px;}

.a2a_default_style .a2a_count, .a2a_default_style .a2a_svg, .a2a_floating_style .a2a_svg, .a2a_menu .a2a_svg {border-radius:0px!important;}

.showthis {  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  display:block!important;
  opacity:1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.ng-hide {
 -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
   -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media only screen and (max-width: 1920px) {
	html, body {height:100%; overflow:hidden;}
	.box {position:absolute; top:15%; width:350px; height:550px; padding:15px;}
	.home .content p {font-size:40px; line-height:30px;}
	.home.experience .logo img {margin:0px 0px; width:40%; position:static;}
	.login h1.logo img {margin:0px 0px; width:40%; position:static;}
	.box h1 {font-size:44px; line-height:44px;}
	.social {margin:50px 0px;}
	.last.login .content p {font-size:36px; line-height:25px;}
	}
	
@media only screen and (min-width: 1366px) and (max-width: 1440px){
	html, body {height:100%; overflow:hidden;}
	.box {position:absolute; top:12%; width:350px; height:550px; padding:15px;}
	.home .content p {font-size:40px; line-height:30px;}
	.box h1 {font-size:50px;}
	.experience .content p {font-size:40px; line-height:30px;}
	.login .email {bottom:10px;}
	.social {margin:50px 0px;}
	.last.login .content p {font-size:36px; line-height:25px;}
	}
@media only screen and (max-width: 736px) {
	.container-fluid {width:100%; margin:0%;}
	.home {height:auto; width:auto;}
	.home h1.logo {margin:20px 0px;}
	.home h1.logo img {height:auto; width:20%;}
	.home .content p {font-size:38px; line-height:38px; display:inline-block; clear:both;}
	.home .content a {float:none; display:table;}
	.home.experience .request {right:22%;}
	.box {width:100%; height:100%; left:0px; top:0px; border-radius:0px;}
	.box p {width:50%; margin-top:10%;}
	.box h1 {margin:0px; font-size:52px;}
	.box img {margin:-25px 0px; position:absolute; right:10px; width:50%;}
	.home.experience .logo img {margin:0px 0px; width:20%; position:static;}
	.home.experience p, .home.login p {margin-top:0%; width:100%; display:inline;}
	.home .content p span {height:38px;}
	.login h1.logo img {margin:0px 0px; width:20%; position:static;}
	.login .content p {font-size:32px; line-height:32px;}
	.home.login form {margin:0px 0px 10px;}
	.home.login .form-group {display:inline-block; margin-right:10px; width:48%}
	.last.login .email {position:absolute; right:auto; bottom:15px;}
	.login .email {position:absolute; bottom:30px; right:20px;}
	.login .social a {display:inline-block;}
	.login .email a {display:inline;}
	.social {margin:50px 0px;}
	.last.login .content p {font-size:36px; line-height:30px;}
	
	}	
@media only screen and (max-width: 568px) {
	html, body {height:100%; overflow: auto;}
	.container-fluid {width:100%; margin:0%;}
	.home {height:auto; width:auto;}
	.home h1.logo {margin:20px 0px;}
	.home h1.logo img {height:auto; width:20%;}
	.home .content p {font-size:38px; line-height:38px; display:inline;}
	.home .content a {float:right;}
	.home.experience .request {right:9%;}
	.box {width:100%; height:100%; left:0px; top:0px; border-radius:0px;}
	.box p {width:50%; margin-top:10%;}
	.box h1 {margin:0px; font-size:42px;}
	.box img {margin:-25px 0px; position:absolute; right:10px; width:50%;}
	.home.experience .logo img {margin:0px 0px; width:20%; position:static;}
	.home .content p span {height:38px;}
	.login h1.logo img {margin:0px 0px; width:20%; position:static;}
	.login .content p {font-size:32px; line-height:32px;}
	.home.login form {margin:0px 0px 10px;}
	.home.login .form-group {display:inline-block; margin:15px 10px 12px 0px; width:46%;  }
	.last.login .email {position:absolute; right:10px; bottom:15px;}
	.login .email {position:absolute; bottom:30px; right:45px;}
	.social {margin:50px 0px;}
}
@media only screen and (max-width: 480px) {
	html, body {height:100%; overflow: auto;}
	.container-fluid {width:100%; margin:0%;}
	.home {height:auto; width:auto;}
	.home h1.logo {margin:20px 0px;}
	.home h1.logo img {height:auto; width:20%;}
	.home .content p {font-size:38px; line-height:38px; display:inline;}
	.home .content a {float:left;}
	.box {width:100%; height:100%; left:0px; top:0px; border-radius:0px;}
	.box p {width:50%; margin-top:10%;}
	.box h1 {margin:0px; font-size:42px;}
	.box img {margin:20px 0px; position:absolute; right:10px; width:50%;}
	.home.experience .logo img {margin:0px 0px; width:20%; position:static;}
	.home .content p span {height:38px;}
	.login h1.logo img {margin:0px 0px; width:20%; position:static;}
	.login .content p {font-size:32px; line-height:32px;}
	.home.login form {margin:0px 0px 10px;}
	.home.login .form-group {display:inline-block; margin:25px 10px 15px 0; width:46%;}
	.home.experience .request {right:auto;}
	.login .email {position:absolute; right:38px; bottom:20px;}
	.last.login .email {position:fixed; right:auto; bottom:20px;}
	.social {margin:30px 0px;}
	
	}	
@media only screen and (max-width: 414px) {
	html, body {height:100%; overflow: auto;}
	.container-fluid {width:100%;  margin:0%;}
	.home {height:auto; width:auto;}
	.home h1.logo {margin:20px 0px;}
	.home h1.logo img {height:auto; width:50%;}
	.home .content p {font-size:38px; line-height:42px; display:block; margin:0px;}
	.home .content a {float:left;}
	.home.experience .request {right:auto;}
	.box {width:100%; height:100%; left:0px; top:0px; border-radius:0px;}
	.box p {width:100%; margin-top:0%;}
	.box h1 {margin:0px; font-size:42px;}
	.box img {margin:20px 0px; position:static; width:100%;}
	.home.experience .logo img {margin:0px; width:30%;}
	.home .content p span {height:38px;}
	.home.login .form-group {display:block; width:100%;}
	.login h1.logo img {margin:0px; width:30%;}
	.login .content p {font-size:32px; line-height:32px;}
	.login .email {right:auto;}
	.social {margin:40px 0px;}
	}	





/*animate*/  



/* PAGES

============================================================================= */

.page-home      { background:#00D0BC; color:#00907c; }

.page-about     { background:#E59400; color:#a55400; }

.page-contact   { background:#ffa6bb; color:#9e0000; }


/* ANIMATIONS

============================================================================= */


.box.ng-leave  { z-index:9999; }
.box.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {

    -webkit-transform-origin: 0% 0%;
    -webkit-animation: rotateFall 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: rotateFall 1s both ease-in;
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}

.page-home.ng-enter         {  
    -webkit-animation:scaleUp 0.5s both ease-in;
    -moz-animation:scaleUp 0.5s both ease-in;
    animation:scaleUp 0.5s both ease-in;    
}


/* about ------------------------ */

.page-about.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;   
}

.page-about.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in; 
}


/* contact ---------------------- */

.page-contact.ng-leave      {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateOutNewspaper .5s both ease-in;
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateOutNewspaper .5s both ease-in;
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}

.page-contact.ng-enter      { 
    -webkit-animation:slideInUp 0.5s both ease-in;
    -moz-animation:slideInUp 0.5s both ease-in;
    animation:slideInUp 0.5s both ease-in;  
}


/* rotate and fall */

@-webkit-keyframes rotateFall {
    0% { -webkit-transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
    40% { -webkit-transform: rotateZ(17deg); }
    60% { -webkit-transform: rotateZ(16deg); }
    100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}

@-moz-keyframes rotateFall {
    0% { -moz-transform: rotateZ(0deg); }
    20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
    40% { -moz-transform: rotateZ(17deg); }
    60% { -moz-transform: rotateZ(16deg); }
    100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}

@keyframes rotateFall {
    0% { transform: rotateZ(0deg); }
    20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40% { transform: rotateZ(17deg); }
    60% { transform: rotateZ(16deg); }
    100% { transform: translateY(100%) rotateZ(17deg); }
}


/* scale up */

@keyframes scaleUp {
    from        { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
    from        { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
    from        { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}


/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}

@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}


/* slide in from the bottom */

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
    to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
    to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
    to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@media screen and (min-width: 768px) {
  
}
