@charset "utf-8";
/* CSS Document */
body {
  font-family: "WeblySleek UI Light";
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: rgba(255, 255, 255, 0) url("../images/relcy-background.jpg") no-repeat scroll center top / cover;

}

.bodywrapper {
  height: 100%;
  /*max-height: 1800px;*/
  /*min-height: 1800px;*/
  min-width: 960px;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

.logo img {
  margin-left: -70px;
  margin-top: 20px;
}

.logo {
  background: url("../images/logo.png") no-repeat scroll center center;
  width: 230px;
  height: 94px;
  display: block;
  margin-left: -70px;
  margin-top: 40px;
}

.devices {
  text-align: center;
  padding: 40px 0;
}

.devices h1 {
  font-size: 70px;
  color: #072545;
  margin: 50px 0px 0px;
  font-weight: 100;
}

.devices h2 {
  font-size: 46px;
  color: #072444;
  margin: 0px;
  font-weight: 100;
}

.devices img {
}

.bottom {
  box-shadow: 0 0 200px rgba(255, 255, 255, 1);
  padding: 30px 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  border-top: solid 2px rgba(200, 200, 200, 0.9);
}

.content {
  color: #04182b;
}

.content h4 {
  font-size: 30px;
  font-weight: 600;
  color: #04182b;
  margin-top: 0px;
}

.content p {
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 0;
  line-height: 26px;
  color: #04182b;
  font-weight: 600;
}

.toggle {
  width: 100%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  word-spacing: 0;
}

.toggle .btn-primary.active, .toggle .btn-primary.focus,
.toggle .btn-primary:active, .toggle .btn-primary:focus,
.toggle .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background-color: #cccccc;
  border-color: #999999;
  color: #09355f;
  font-weight: 600;
}

.toggle .btn {
  border-radius: 8px;
  padding: 2px 12px;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 0;
  font-weight: 600;
}

.toggle .btn.active, .toggle .btn:active {
  box-shadow: none;
}

.toggle .btn-primary {
  background-color: #ffffff;
  border-color: #999999;
  color: #09355f;
  width: 50%;
  font-weight: 600;
}

.form-control::-moz-placeholder {
  color: #09355f;
  opacity: 1;
  letter-spacing: 1px;
  word-spacing: 0;
}

.form-control::-webkit-placeholder {
  color: #09355f;
  opacity: 1
}

.form-control {
  border-radius: 8px;
  margin-bottom: 15px;
  color: #09355f;
  font-weight: 100;
  font-size: 17px;
  text-align: center;
}

.devices-img {
  background: rgba(255, 255, 255, 0) url("../images/devices.png") no-repeat scroll center center;
  display: block;
  width: 430px;
  height: 234px;
  margin: 0 auto;
}

.customButton {
  background: #51cf42 !important;
  opacity: 1 !important;
  border: none !important;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 0;
  margin-bottom: 20px;
}

.footer {
  text-align: right;
  margin: 0;
  color: #09355f;
  font-weight: 600;
  padding-right: 30px;
  padding: 10px;
}

.footer-thanks {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.thank {
  padding: 135px 0;
}

.thank h2 {
  font-size: 79px;
  color: #072545;
}

.thank h5 {
  color: #04182b;
  font-size: 30px;
  padding: 0 100px;
}

/* --------------------------------------------------------- */
/* APPLE MACBOOK PRO RETINA ETC. --------------------------- */
/* --------------------------------------------------------- */

/* Retina Displays/Screens (2880x1800) --------------------- */

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  body {
    background: rgba(255, 255, 255, 0) url("../images/relcy-background@2x.jpg") no-repeat scroll center top / cover;
  }

  .logo {
    background: url("../images/logo@2x.png") no-repeat scroll center center;
    background-size: 230px 94px;
    margin-left: -70px;
    margin-top: 40px;
  }

  .container {
    max-width: 2100px;
    width: 1052px;
  }

  .devices-img {
    background: url("../images/devices@2x.png") no-repeat scroll center center;
    background-size: 430px 234px;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
}

/* COMPUTERS / OTHER DEVICES ------------------------------- */

/* Displays/Screens (e.g. MacBook @ 1280x800) -------------- */
@media only screen and (min-width: 1250px) and (max-width: 1409px) {

}

/* Displays/Screens (e.g. 19" WS @ 1440x900) --------------- */
@media only screen and (min-width: 1410px) and (max-width: 1649px) {

}

/* Displays/Screens (e.g. 22" WS @ 1680x1050) -------------- */
@media only screen and (min-width: 1650px) and (max-width: 1889px) {

}

/* Displays/Screens (e.g. 24" WS @ 1920x1080) -------------- */
@media only screen and (min-width: 1890px) and (max-width: 2529px) {

}

/* Really Large Displays/Screens (e.g. 2560x1440) ---------- */
@media only screen and (min-width: 2530px) {

}

