a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1;
  background: #F2F2F4;
  font-family: Lato, Arial, sans-serif
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body, html {
  overflow-x: hidden;
  min-height: 100%
}

.clearfix {
  clear: both
}

* {
  box-sizing: border-box
}

.mobileContainer, .tablet-download, .tabletLogo {
  display: none
}

.desktop-mobileContainer {
  position: relative;
  background: #F2F2F4;
  width: 360px;
  height: 85%;
  max-height: 638px;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 50;
  border-radius: 8px;
  text-align: left;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%)
}

.desktop-mobileContainer:hover {
  cursor: pointer
}

.desktopContainer {
  display: block;
  min-height: 100%
}

.desktopLeft, .desktopRight {
  width: 50%;
  display: inline-block;
  top: 0;
  position: absolute;
  bottom: 0
}

.desktopLeft {
  height: 100%;
  left: 0
}

.desktopRight {
  min-height: 100%;
  left: 50%;
  background: url(icons/Bitmap.png) no-repeat
}

.rightContent {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 50%;
  margin-top: -100px;
  padding: 0 16px 0 60px
}

#desktop-bg-overlay, .desktop-background {
  position: fixed;
  display: block;
  width: 50%;
  height: 100%;
  left: 0
}

.desktop-background {
  z-index: 1;
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  -o-filter: blur(35px);
  -ms-filter: blur(35px);
  filter: blur(35px)
}

#desktop-bg-overlay {
  z-index: 2;
  background: rgba(0, 0, 0, .75)
}

.desktopLogo {
  width: 97px
}

.bigText {
  color: #6C6C6C;
  font-size: 30px;
  font-weight: 300;
  opacity: .65;
  margin: 16px auto;
  line-height: 34px
}

.open, p {
  color: #3a3a3a
}

.open, h1.title {
  font-weight: 600
}

.desktop-download {
  width: 100px;
  height: 36px;
  margin: 10px 8px 0 0;
  display: inline-block
}

.desktop-download img {
  width: 100%
}

.tablet {
  display: none
}

@media screen and (max-width: 768px) {
  .desktopRight {
    display: none
  }

  .desktopLeft {
    width: 100%;
    text-align: center
  }

  #desktop-background {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40
  }

  #desktop-bg-overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 41
  }

  .tabletLogo {
    width: 97px;
    margin: 42px auto 0;
    position: relative;
    z-index: 80;
    display: inline-block
  }

  .desktop-mobileContainer {
    margin-bottom: 62px;
    margin-top: -32px
  }

  .tablet-download {
    display: block;
    position: relative;
    z-index: 9999
  }

  .desktop-download {
    display: inline-block;
    z-index: 99999
  }
}

@media screen and (max-width: 400px) {
  body {
    background: #F2F2F4;
    font-family: Lato, Helvetica, sans-serif
  }

  .mobileContainer {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
  }

  .desktopContainer {
    display: none
  }
}

.mobile-overlay {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .75);
  display: block
}

.actionsheet li, .rating h2, .star {
  display: inline-block
}

.relcy-open {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #FFF;
  height: 80px
}

.open-chevron, .relcy-app {
  position: absolute;
  top: 50%
}

.open {
  font-size: 16px;
  line-height: 80px;
  padding-left: 60px
}

h1.title, p {
  font-size: 14px
}

.relcy-app {
  width: 32px;
  left: 16px;
  margin-top: -16px
}

#actionbar, #top, .gradient, section {
  width: 100%
}

.open-chevron {
  height: 20px;
  margin-top: -10px;
  right: 16px
}

.gradient, .main-image {
  left: 0;
  right: 0;
  bottom: 0
}

#info, h1.title {
  color: rgba(255, 255, 255, 1)
}

#top {
  min-height: 331px;
  background: red;
  position: relative
}

#info, .gradient, .main-image {
  position: absolute
}

.main-image {
  z-index: 1;
  top: 0;
  background-size: cover;
  overflow: hidden
}

.gradient {
  background: 0 0;
  background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  height: 165px;
  z-index: 2
}

#info {
  bottom: 15px;
  left: 16px;
  z-index: 3
}

h1.title {
  margin-bottom: 8px
}

h2.subinfo {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, .9);
  margin-bottom: 8px
}

.star {
  height: 12px;
  margin-right: 8px
}

.rating h2 {
  position: relative;
  top: -2px
}

#actionbar {
  height: 45px;
  position: absolute;
  bottom: 0;
  z-index: 4;
  background: rgba(255, 255, 255, .88)
}

section .actionsheet, section li {
  position: relative;
  background: #FFF
}

h2.section-title {
  font-size: 14px;
  font-weight: 600;
  color: #6C6C6C;
  margin: 24px 0 16px 16px;
  text-transform: uppercase
}

section li {
  padding: 0;
  border-bottom: 1px solid #f2f2f4
}

.app-icon, .chevron, .download .app-icon {
  position: absolute;
  top: 50%
}

.actionsheet li {
  width: 50%;
  vertical-align: top;
  height: 55px;
  border-left: 1px solid #f2f2f4
}

.actionsheet li:last-child {
  border-right: 1px solid #f2f2f4
}

.app-icon {
  width: 25px;
  height: 25px;
  border-radius: 7px;
  left: 12px;
  margin-top: -13px
}

.newslist .video-thumb, .social-image {
  float: left;
  background: #ddddde;
  border-radius: 6px
}

.actiontitle {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 55px;
  padding-left: 50px
}

.chevron {
  width: 6px;
  margin-top: -5px;
  right: 14px
}

.searchlist {
  width: 100%
}

.searchlist li .icon-search {
  width: 15px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 16px
}

.searchlist li p {
  line-height: 46px;
  padding-left: 31px;
  margin-left: 10px
}

.showslist li {
  padding: 16px
}

.showslist .actiontitle {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 16px;
  padding-left: 0
}

.showslist .smalltext {
  font-size: 12px;
  color: #818181;
  line-height: 13px;
  padding-left: 0;
  margin-top: 4px
}

.weblist li {
  padding: 16px
}

.weblist .actiontitle {
  line-height: 16px;
  padding-left: 0;
  font-size: 14px
}

.weblist .smalltext {
  font-size: 12px;
  color: #818181;
  line-height: 13px;
  padding-left: 0;
  margin-top: 4px
}

.newslist li {
  padding: 16px
}

.newslist .video-thumb {
  width: 80px;
  height: 80px;
  overflow: hidden;
  text-align: center
}

.newslist .news-image {
  height: 100%;
  margin: 0 auto 0 -40px;
  text-align: center
}

.newslist .actiontitle {
  line-height: 16px;
  padding-left: 90px;
  font-size: 14px
}

.social-image {
  width: 50px;
  height: 50px
}

.social-activities .actiontitle {
  line-height: 16px;
  padding-left: 62px;
  font-size: 14px
}

.smalltext, .social-activities .smalltext {
  font-size: 12px;
  color: #818181;
  line-height: 13px;
  margin-top: 4px
}

.smalltext {
  padding-left: 90px
}

.social-activities .smalltext {
  padding-left: 62px
}

.download .app-icon {
  margin-top: -13px
}

.download {
  background: #FFF;
  margin: 0 auto 24px;
  position: relative
}

.downloadlink {
  line-height: 55px;
  padding-left: 46px
}
