<div class="row">
    <div class="col-lg-12">
        <div class="topSection">
        	<div class="coverImage"><a href="#"><img src="images/PK-styling-anushka-sharma.jpg" title=""></a></div>
            <!--<div class="editAction"><i class="fa fa-edit"></i></div>-->
            <div class="profileImage"><a href="#"><img src="images/pk211.jpg" title=""></a></div>
            <div class="details clearfix">
            	<div class="detail_left">
                <h2>PK</h2>
                <p>
                	<span>Unrated</span>
                    <span>2014</span>
                    <span>2h 12m</span>
                </p>
                <p>
                	<span>Comedy, Drama, Mystery</span>
                </p>
                <div class="pull-left imdb">
                	<img src="../images/inbd.png" title="" height="18px" width="18px">
                   <div class="pull-left">
                    	<span>IMDB:</span>
                    	<span>8.2<span>/10</span></span>
                    </div>
                </div>
                <div class="pull-left imdb">
                	<img src="../images/inbd.png" title="" height="18px" width="18px">
                    <div class="pull-left">
                    	<span>IMDB:</span>
                    	<span>84%</span>
                    </div>
                </div>
                <div class="pull-left imdb">
                	<img src="../images/inbd.png" title="" height="18px" width="18px">
                    <div class="pull-left">
                    	<span>IMDB:</span>
                    	<span>83%</span>
                    </div>
                </div>
            </div><!-- deatail left end-->
         	
            <div class="detail_right">
            
            <p>
            <a href="#">
              <img src="images/book.png"  alt=""/> Story
            </a>
            </p>
            
             <p>
            <a href="#">
              <img src="images/multi-user.png"  alt=""/> Cast
            </a>
            </p>
            
            
             <p>
            <a href="#">
              <img src="images/play.png"  alt=""/> Trailer
            </a>
            </p>
            
            
            </div>
         
          </div>
           
      </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading detail-title ">Watch</div>
          <div class="panel-body pad_none">
            <table class="table table-hover">
            	<tbody>
                	<tr >
                    	<td class="td-title"><img src="images/inbd.png" title=""><span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    <tr>
                    	<td class="td-title td-lineheight"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight" ><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                     <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                     <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                     <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                     <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                     <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                     <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                     <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        
        
        
        <!--ontv-->
        
        <div class="panel panel-default">
          <div class="panel-heading detail-title ">On TV</div>
          <div class="panel-body pad_none">
            <table class="table table-hover">
            	<tbody>
                	<tr >
                    	<td class="td-title"><img src="images/inbd.png" title=""><span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        
                    </tr>
                    
                    <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                       
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        
        <!--on tv-->
        
        
           <!--REview-->
        
       <div class="panel panel-default">
          <div class="panel-heading detail-title ">Reviews &amp; Info</div>
          <div class="panel-body pad_none">
            <table class="table table-hover">
            	<tbody>
                	<tr >
                    	<td class="td-title"><img src="images/inbd.png" title=""><span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    <tr>
                    	<td class="td-title td-lineheight"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight" ><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                    <tr>
                    	<td class="td-title td-lineheight"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight"></td>
                        <td class="td-lineheight" ><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                    <tr>
                    	<td class="td-title td-lineheight"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight"></td>
                        <td class="td-lineheight" ><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    <tr>
                    	<td class="td-title td-lineheight"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight" ><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                    
                    <tr>
                    	<td class="td-title"><img src="images/inbd.png" title=""> <span> Groupon</span></td>
                        <td class="td-detail td-lineheight">$20 for $ 10</td>
                        <td class="td-lineheight"><i class="fa fa-chevron-right text-gray"></i></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        
        <!--REview-->
        
        
        
        
        
    </div>
  <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading detail-title ">Images</div>
          <div class="panel-body detailimages">
         
             <div class="col-lg-12 detailimages-col" >
               <div class="col-lg-4 detailimages-col4">
         <a href="#"><img src="images/pk211.jpg" title="" ></a>
         </div>
         
         <div class="col-lg-4 detailimages-col4">
         <a href="#"><img src="images/PK-styling-anushka-sharma.jpg" title="" ></a>
         </div>
         
         <div class="col-lg-4 detailimages-col4">
         <a href="#"><img src="images/pk211.jpg" title="" ></a>
         </div>
            
            </div>
            
          </div>
          
         <div class="panelList">
  	<!-- ngIf: cat.maxIndex<cat.values.length --><a href="javascript:void(0)"  class="ng-scope"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a><!-- end ngIf: cat.maxIndex<cat.values.length -->
  </div>
        </div>
        
        

        
        <!-- vedios-->
        <div class="panel panel-default">
          <div class="panel-heading detail-title ">Vedios</div>
          <div class="panel-body no-padding">
          
            <div class="col-lg-12 detailvideo">
             <div class="col-lg-4 video">
              <img src="images/pk211.jpg" alt=""/>
               </div>
             <div class="col-lg-8 videodetail">
             <p>The World of Wall Street Official Trailer #1(2013)</p>
             <p class="detail-youtube"> YouTube.2m 8s. HD </p>
             </div>
            </div>
            
            <div class="col-lg-12 detailvideo">
             <div class="col-lg-4 video">
              <img src="images/pk211.jpg" alt=""/>
               </div>
             <div class="col-lg-8 videodetail">
             <p>The World of Wall Street Official Trailer #1(2013)</p>
             <p class="detail-youtube"> YouTube.2m 8s. HD </p>
             </div>
            </div>
            
            <div class="col-lg-12 detailvideo">
             <div class="col-lg-4 video">
              <img src="images/pk211.jpg" alt=""/>
               </div>
             <div class="col-lg-8 videodetail">
             <p>The World of Wall Street Official Trailer #1(2013)</p>
             <p class="detail-youtube"> YouTube.2m 8s. HD </p>
             </div>
            </div>
            
            <div class="col-lg-12 detailvideo">
             <div class="col-lg-4 video">
              <img src="images/pk211.jpg" alt=""/>
               </div>
             <div class="col-lg-8 videodetail">
             <p>The World of Wall Street Official Trailer #1(2013)</p>
             <p class="detail-youtube"> YouTube.2m 8s. HD </p>
             </div>
            </div>
            
            <div class="col-lg-12 detailvideo">
             <div class="col-lg-4 video">
              <img src="images/pk211.jpg" alt=""/>
               </div>
             <div class="col-lg-8 videodetail">
             <p>The World of Wall Street Official Trailer #1(2013)</p>
             <p class="detail-youtube"> YouTube.2m 8s. HD </p>
             </div>
            </div>
            
            
            
            
            
          </div>
          <div class="panelList">
  	<!-- ngIf: cat.maxIndex<cat.values.length --><a href="javascript:void(0)"  class="ng-scope"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a><!-- end ngIf: cat.maxIndex<cat.values.length -->
  </div>
        </div>
        
        
        <!-- vedios-->
        
        
        <div class="panel panel-default">
          <div class="panel-heading detail-title ">Web</div>
              <div class="panel-body resultList">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <i class="fa fa-apple"></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <a href="#">apple.com</a>
                    <p>Test</p>
                  </div>
                </div>
              </div>
                            <div class="panel-body resultList">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <i class="fa fa-apple"></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <a href="#">apple.com</a>
                    <p>Test</p>
                  </div>
                </div>
              </div>

			<div class="panelList">
  	<!-- ngIf: cat.maxIndex<cat.values.length --><a href="javascript:void(0)" class="ng-scope"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a><!-- end ngIf: cat.maxIndex<cat.values.length -->
  </div>

        </div>
    </div>
</div>