<div class="row">
    <div class="col-lg-12">
        <div class="topSection">
        	<div class="coverImage"><a href="#"><img src="images/PK-styling-anushka-sharma.jpg" title=""></a></div>
            <!--<div class="editAction"><i class="fa fa-edit"></i></div>-->
            <div class="profileImage"><a href="#"><img src="images/pk211.jpg" title=""></a></div>
            <div class="details clearfix">
            	<h2>PK</h2>
                <p>
                	<span>Unrated</span>
                    <span>2014</span>
                    <span>2h 12m</span>
                </p>
                <p>
                	<span>Comedy, Drama, Mystery</span>
                </p>
                <div class="pull-left">
                	<img src="../images/inbd.png" title="" height="18px" width="18px">
                   <div class="pull-left">
                    	<span>inBd:</span><br>
                    	<span>8.2<span>/10</span></span>
                    </div>
                </div>
                <div class="pull-left">
                	<img src="../images/inbd.png" title="" height="18px" width="18px">
                    <div class="pull-left">
                    	<span>inBd:</span><br>
                    	<span>84%</span>
                    </div>
                </div>
                <div class="pull-left">
                	<img src="../images/inbd.png" title="" height="18px" width="18px">
                    <div class="pull-left">
                    	<span>inBd:</span><br>
                    	<span>83%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Watch</div>
          <div class="panel-body">
            <table class="table table-hover">
            	<tbody>
                	<tr>
                    	<td><img src="images/inbd.png" title=""> Groupon</td>
                        <td>$20 for $ 10</td>
                        <td><i class="fa fa-circle"></i></td>
                    </tr>
                    <tr>
                    	<td><img src="images/inbd.png" title=""> Groupon</td>
                        <td>$20 for $ 10</td>
                        <td><i class="fa fa-circle"></i></td>
                    </tr>
                    <tr>
                    	<td><img src="images/inbd.png" title=""> Groupon</td>
                        <td>$20 for $ 10</td>
                        <td><i class="fa fa-circle"></i></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Images</div>
          <div class="panel-body">
            <ul class="thumbList">
            	<li><a href="#"><img src="images/pk211.jpg" title="" height="150px" width="150px"></a></li>
                <li><a href="#"><img src="images/PK-styling-anushka-sharma.jpg" title="" height="150px" width="150px"></a></li>
                <li><a href="#"><img src="images/pk211.jpg" title="" height="150px" width="150px"></a></li>
            </ul>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">Web</div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <i class="fa fa-apple"></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <a href="#">apple.com</a>
                    <p>Test</p>
                  </div>
                </div>
              </div>
                            <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <i class="fa fa-apple"></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <a href="#">apple.com</a>
                    <p>Test</p>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>