<div id="pageMiddle" class="pageMiddle">
  <div >
    <h1 id="bighead" class="title"><img src="images/logo.png" title="Relcy"> Relcy</h1>
      <form class="" id="bigform">
        <div class="form-group relcysrchInput">
          <div class="input-group">

            <angucomplete-alt id="members"
              placeholder="type to search"
              pause="400"
              input-changed = 'onInputChange'
              selected-object="onAutoCompleteSelect"
              input-change-handler = "onSearchInputChange"
              remote-url="http://staging-w.relcy.com/autocomplete?sessionId=b9a30926-e912-11e4-b02c-1681e6b88ec1&query="
              remote-url-data-field="auto_complete_item"
              title-field="title,sub_title"
              description-field="sub_title2,sub_title3"
              image-field="image"
              template-url="views/suggestion.html"
              remote-url-response-formatter="addScores"
              input-class="form-control tran_top"
              />
          </div>
          <div class="input-group-addon"><button type="submit" class="btn btn-link btn-circle" ng-click="search(query)">
          	<i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>

</div>
<div ng-include="'views/result.html'"></div>