<div id="pageMiddle" class="pageMiddle">
  <div >
    <h1 id="bighead" class="title"><img src="images/logo.png" title="Relcy"> Relcy</h1>
      <form class="" id="bigform">
        <div class="form-group relcysrchInput">
          <div class="input-group">

            <angucomplete-alt id="members"
              placeholder="type to search"
              pause="400"
              input-changed = 'onInputChange'
              selected-object="searchForSelection"
              input-change-handler = "onSearchInputChange"
              remote-url="http://staging-w.relcy.com/v0/autocomplete?auth_token=87EA5C5DA69F06193E2031D0B5651A651FF176BC&query="
              remote-url-data-field="autocomplete_items"
              title-field="title,subTitle"
              description-field="subTitle2,subTitle3"
              image-field="icon"
              template-url="views/suggestion.html"
              remote-url-response-formatter="addScores"
              input-class="form-control tran_top"
              />
          </div>
          <div class="input-group-addon"><button type="submit" class="btn btn-link btn-circle" ng-click="search(query)">
          	<i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>

</div>
<div ng-include="'views/result.html'"></div>