<div ng-if="Lightbox.type=='CAST'" class="modal-body castmodel">
	 <h4 class="topictitle">Cast</h4>
    <div ng-if="cast.title" ng-repeat="cast in Lightbox.data">
		<div class="castlist">
        <div class="castimage">
          <img err-src="img-no-min/placeholder.png" ng-src="{{::cast.image_info.mediaURL}}" alt=""/> 
          
         </div>
        <div class="castdetail">
        <p>
        {{::cast.title}}
        </p>
        
        <p>
        {{::cast.title}}
        </p>
        </div>
        
      </div>
	</div>
</div>





<div ng-if="Lightbox.type=='VIDEO'" class="modal-body castmodel">
<h4 class="topictitle">Trailer</h4>
	<div style="padding:20px">
   <!--  <iframe width="420" height="315"
      src="{{Lightbox.data.videoResults.contentUrl}}">
    </iframe> -->
    <video width="320" height="240" controls>
      <source src="{{Lightbox.data.value}}" type="video/mp4">
      
    Your browser does not support the video tag.
    </video>
		 
	</div>
</div>

<div ng-if="Lightbox.type=='STORY'" class="modal-body castmodel">
<h4 class="topictitle">Story</h4>
	<div style="padding:20px">
	{{Lightbox.data.value}}
	</div>
</div>

<div ng-if="Lightbox.type=='IMAGES'" class="modal-body"
    ng-swipe-left="Lightbox.nextImage()"
    ng-swipe-right="Lightbox.prevImage()">
  <!-- navigation -->
  <div class="lightbox-nav">
    <!-- close button -->
    <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>

    <div class="btn-group">
      <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">
        ‹ Previous
      </a>

      <a ng-href="{{Lightbox.imageUrl}}" target="_blank"
          class="btn btn-xs btn-default" title="Open in new tab">
        Open image in new tab
      </a>

      <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">
        Next ›
      </a>
    </div>
  </div>

  <div class="lightbox-image-contaer">
    <!-- image -->
    <img lightbox-src="{{Lightbox.imageUrl}}" alt="" width="100%">
     <span>{{Lightbox.imageCaption}}</span>
    <!-- caption -->
   <!--  <div class="lightbox-image-caption">
      <span>{{Lightbox.imageCaption}}</span><br>
	  <span>{{Lightbox.dimensions}}</span>
	  <br> -->
	  <!-- <span>{{Lightbox.imageUrl}}</span> -->
    </div>

  </div>
</div>