<div id="pageMiddle" class="pageMiddle col-lg-12" style="width: 950px; position: fixed; z-index: 9; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding-top: 0%; margin-top: 0%;">
    <h1 ng-click="reload()" style="cursor:pointer;" id="bighead" class="relcysmall pull-left">
        <img src="images/logo.png" title="Relcy">
        <span> RELCY</span>
    </h1>

    <div class="col-lg-12">
        <div class="totop" ng-click="scrollTo('container');" ng-if="showingResult || showDetailPage"><img
                src="img-no-min/to-top.png" alt="" class=""></div>
        <form class="" id="bigform">
            <div class="form-group relcysrchInput">
                <div class="input-group">

                    <angucomplete-alt id="members"
                                      placeholder="type to search"
                                      pause="400"
                                      input-changed='onInputChange'
                                      selected-object="onAutoCompleteSelect"
                                      remote-url="{{getBaseUrl()}}/autocomplete?sessionId=b9a30926-e912-11e4-b02c-1681e6b88ec1&query="
                                      remote-url-data-field="auto_complete_item"
                                      title-field="title"
                                      image-field="image"
                                      template-url="views/suggestion.html"
                                      remote-url-response-formatter="addScores"
                                      input-class="form-control tran_top"
                                      minlength="1"
                                      focus-out="hideSearchDropdown()"
                            />
                </div>
                <div class="input-group-addon">
                    <button type="submit" class="btn btn-link btn-circle" ui-sref="search({q:query})">
                        <i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>