
<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
  <input ng-model="searchStr"
            ng-disabled="disableInput"
            type="text"
            placeholder="{{placeholder}}"
            ng-focus="onFocusHandler()"
            class="{{inputClass}}"
            ng-focus="resetHideResults()"
            ng-blur="hideResults($event)"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            ng-change="inputChangeHandler(searchStr)"/>
  <div class="angucomplete-dropdown" ng-show="showDropdown">
    <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
    <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
    
    <div class="angucomplete-row media" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
      <div ng-if="imageField" class="angucomplete-image-holder media-left"> 
      	<img ng-if="result.image && result.image != ''" err-src="images/logo.png" ng-src="{{result.image}}" class="angucomplete-image"/>
        <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
      </div>
      <div class="media-body">
          <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
          <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
          <div class="dark-gray">            
            <span ng-if="result.originalObject.sub_title3">{{::result.originalObject.sub_title3}}</span>
            <span ng-if="result.originalObject.sub_title2">{{::result.originalObject.sub_title2}}</span>
            <span ng-if="result.originalObject.sub_title">{{::result.originalObject.sub_title}}</span>
            <p class="rating">
                <span ng-repeat="sa in result.originalObject.scoreArray track by $index" class="fa fa-star"></span>
                <span ng-if="result.originalObject.showHalfRating" class="fa fa-star-half-empty"></span> &nbsp;
                <span></span>
             </p>
          </div>
          
          <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
          <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
          <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.originalObject.sub_title3}}</div>
    	</div>
    </div>
    
    <div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
      <!-- <div class="angucomplete-title">Select custom country '{{ searchStr }}'</div> -->
    </div>
    
  </div>
</div>