<div class="mainDiv">
  <p class="logo">
    <img src="images/logo.png" alt="I'm Yeoman">
  </p>
  <p>
  <form novalidate name="Ambassadorform">
  	<div class="form-group">
  		<input type="text" placeholder="Name" name="name" ng-model="name" ng-minlength=3 ng-maxlength=20 required class="form-control" name="Ambassadorform.name" />
  	</div>
    <div class="form-group">
  		<input type="text"  placeholder="Ambassador Code" name="ambassadorCode" ng-model="ambassadorCode" required class="form-control" name="Ambassadorform.ambassadorCode"/>
  	</div>
    <div class="form-group">
  		<button type="submit" class="btn btn-info form-control"  ng-disabled="Ambassadorform.$invalid"  ui-sref="invited" ng-click="login()">Submit</button>
  	</div>
    <div >
       {{message}}
    </div>
  </form>
  </p>
</div>
