@charset "utf-8";
/* CSS Document */
body {
  font-family: "weblysleek_uilight";
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/relcy-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

a {
  color: #51ce42;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: none;
}

a:focus {
  outline: medium none;
  outline-offset: -2px;
}

.logo img {
  margin-left: -70px;
  margin-top: 20px;
}

.logo {
  background-attachment: scroll;
  background-image: url("../images/relcy.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 50px;
  width: 174px;
  z-index: 1;
}

.devices {
  text-align: center;
  padding: 30px 0 10px;
}

.devices h1 {
  font-family: 'weblysleek_uisemilight_italic';
  font-size: 39px;
  color: #09355f;
  margin: 30px 0px 0px;
}

.bottom {
  padding: 30px 0 0;
  width: 100%;
}

.content {
  color: #09355f;
}

.content h4 {
  font-family: 'weblysleek_uisemilight';
  font-size: 20px;
  color: #09355f;
  margin-top: 20px;
}

.content p {
  font-family: 'weblysleek_uisemilight';
  font-size: 16px;
  word-spacing: 0;
  line-height: 20px;
  color: #09355f;
}

.toggle {
  width: 100%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  word-spacing: 0;
}
.btn input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}
.toggle .btn-primary.active, .toggle .btn-primary.focus,
.toggle .btn-primary:active, .toggle .btn-primary:focus,
.toggle .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background-color: #0a355f;
  border-color: #999;
  color: #fff;
}

.toggle .btn {
  border-radius: 8px;
  padding: 2px 12px;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 0;
}

.toggle .btn.active, .toggle .btn:active {
  box-shadow: none;
}

.toggle .btn-primary {
  background-color: #ffffff;
  border-color: #999999;
  color: #313131;
  width: 50%;

}

.form-control::-moz-placeholder {
  color: #313131;
  opacity: 1;
  letter-spacing: 1px;
  word-spacing: 0;
}

.form-control::-webkit-input-placeholder {
  color: #313131;
  opacity: 1
}

.form-control {
  border-radius: 8px;
  margin-bottom: 15px;
  color: #313131;
  font-size: 17px;
  text-align: center;
  height: 35px;
}

.devices-img {
  background-image: url("../images/devices.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  display: block;
  width: 88px;
  height: 172px;
  margin: 104px auto 0;
  -webkit-background-size: contain;
  background-size: contain;
}
.devices-img-empty {
  background-image:none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  display: block;
  width: 88px;
  height: 172px;
  margin: 104px auto 0;
  -webkit-background-size: contain;
  background-size: contain;
}

.customButton {
  font-family: 'weblysleek_uisemibold';
  background: #51cf42 !important;
  opacity: 1 !important;
  border: none !important;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 0;
  margin-bottom: 10px;
}

.sms-form {
  min-width: 248px;
}

.footer {
  color: #09355f;
  padding:0 16px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.thank {
  float: none;
  margin: 0 auto;
  padding: 135px 0;
}

.thank h2 {
  font-size: 79px;
  color: #072545;
}

.thank h5 {
  color: #04182b;
  font-size: 30px;
  padding: 0 100px;
}

