<div class="thankwrap">
  <section>
    <div class="container">
      <div class="row">
        <div class="devices col-lg-12 col-md-12 col-sm-12 text-center">
          <div class="devices-img-empty"></div>
          <div class="col-lg-12 col-md-12 col-sm-12 content">
            <h1>We are excited!</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 content text-center">
            <p>Your Download Link will be send to you within a few minutes.</p>
        </div>
      </div>
    </div>
</div>
</section>
</div>
