<style>
  ul.pagination {
    position: fixed;
    top: 5px;
    z-index: 9999;
    right: -8px;
  }
</style>
<div class="col-lg-12 mainwrap">
	<div class="row">
    	<div class="col-lg-12 contentmainwrap">

        <div class="col-lg-12 contenttable no-padding">

        	<h4>Approved Users  <a href="#/" class="pull-right back">back</a></h4>
            <div class="tableheight">
              <div ng-if="approvedLoader" class="loader"></div>
                <table ng-table="approvedRecordsTableParams" class="table">
                    <tr ng-repeat="user in $data">
                      <td data-title="'AMBASSADOR ID'">{{user.user.ambassador_id}}</td>
                        <td data-title="'NAME'" sortable="'user.name'">{{user.user.name}}</td>
                        <!--<td data-title="'PHONE#'" >{{user.user.phone_number}}</td>-->
                        <!--<td data-title="'EMAIL'">{{user.user.email_address}}</td>-->
                        <td data-title="'PHONE#'"><a target="_blank" ng-href="https://search5.truecaller.com/v2/search?client_id=1&countryCode=us&locAddr=&myNumber=6e11998b73f24ca4b599ae4c5c028e63&pageId=&registerId=160678624&type=4&q={{user.user.phone_number}}">{{user.user.phone_number}}</a></td>
                        <td data-title="'EMAIL'" ><a target="_blank" ng-href="https://api.fullcontact.com/v2/person.json?apiKey=8e1e474220dec669&email={{user.user.email_address}}">{{user.user.email_address}}</a></td>
                        <td data-title="'FACEBOOK VERIFIED'" >
                          <a href="{{user.fbURL}}" target="_blank" ng-if="user.hasFBUrl"> {{user.fbURL}}</a>
                          <span ng-if="!user.hasFBUrl">No</span></td>
                        <td data-title="'SMS SENT'" >{{user.smsent}}</td>
                      <td data-title="'REQUEST DATE'" sortable="'timestamp'">{{user.timestamp  | date:'dd/MM/yyyy HH:mma'}}</td>
                        <td data-title="'ACTION'" class="cust-button">
                        <!-- <button ng-click="approve(data,'approve')">OK</button> -->
                        <button class="reject" ng-click="reject(user,'approve')">Reject</button>
                        </td>


                      <!--   <td data-title="'Name'" sortable="'name'">
                            {{user.name}}
                        </td>
                        <td data-title="'Age'" sortable="'age'">
                            {{user.age}}
                        </td> -->
                    </tr>
              </table>
        	</div>
        </div>

        </div>
    </div>


</div>
