<div class="col-lg-12 mainwrap">
	
    <div class="row border-btm">
    	<div class="col-lg-12 logo">
        <a href="#/"><img src="images/logo.png" alt=""/> </a>
      </div> 
    </div>

	<div class="row">
    	<div class="col-lg-12 contentmainwrap">
        
        <div class="col-lg-12 contenttable no-padding">
        
        	<h4>Pending Approvals</h4>
            <div class="tableheight">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>AMBASSADOR ID</th>
                    <th>NAME</th>
                    <th>PHONE#</th>
                    <th>EMAIL</th>
                    <th>FACEBOOK VERIFIED</th>
		            <th>SMS SENT</th>
                    <th>REQUEST DATE</th>
                    <th class="cust-button"></th>
                </tr>
                </thead>
            <tbody> 
                <tr class="text-center" ng-if="pendingRecords.length == 0">
                    <td colspan="8">No Record found</td> 
                </tr>
                <tr ng-if="pendingRecords.length > 0" ng-repeat="data in pendingRecords">
               	    <td>{{data.user.ambassador_id}}</td>
                    <td>{{data.user.name}}</td>
                    <td>{{data.user.phone_number}}</td>
                    <td>{{data.user.email_address}}</td>
                    <td>{{data.hasFBUrl? data.fbURL : 'No'}}</td>
                    <td>{{data.smsent}}</td>
                    <td>{{data.time | date:'MM-dd-yyyy'}}</td>
                    <td class="cust-button">
                    <button class="approve" ng-click="approve(data,'pending')">OK</button>
                    <button class="reject" ng-click="reject(data,'pending')">X</button>
                    </td>
                </tr>                 
            </tbody>
            </table>
        	</div>
         
            <div class=" col-lg-12 showall">
            <a  href="#/pending" >SHOW ALL PENDING APPROVALS</a>
            </div>
        </div>
        
        <div class="col-lg-12 contenttable no-padding">
        
        	<h4>Approved Users</h4>
            <div class="tableheight">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>PHONE#</th>
                    <th>EMAIL</th>
                    <th>FACEBOOK VERIFIED</th>
					<th>SMS SENT</th>
                    <th>REQUEST DATE</th>
                    <th class="cust-button"></th>
                </tr>
                </thead>
            <tbody>
                <tr  class="text-center" ng-if="approvedRecords.length == 0">
                    <td colspan="8">No Record found</td> 
                </tr>
                <tr ng-if="approvedRecords.length > 0" ng-repeat="data in approvedRecords">
                    <td>{{data.user.name}}</td>
                    <td>{{data.user.phone_number}}</td>
                    <td>{{data.user.email_address}}</td>
                    <td>{{data.hasFBUrl? data.fbURL : 'No'}}</td>
                    <td>{{data.smsent}}</td>
                    <td>{{data.time | date:'MM-dd-yyyy'}}</td>
                    <td class="cust-button">
                    <!-- <button ng-click="approve(data,'approve')">OK</button> -->
                    <button class="reject" ng-click="reject(data,'approve')">Reject</button>
                    </td>
                </tr>               
            </tbody>
            </table>
        	</div>
         
            <div class=" col-lg-12 showall">
            <a href="#/approved">SHOW ALL APPROVED USERS</a>
            </div>
        </div>
        
        <div class="col-lg-12 contenttable no-padding">
        
        	<h4>REJECTED USERS</h4>
            <div class="tableheight">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>PHONE#</th>
                    <th>EMAIL</th>
                    <th>FACEBOOK VERIFIED</th>
					<th>SMS SENT</th>
                    <th>REQUEST DATE</th>
                    <th class="cust-button"></th>
                </tr>
                </thead>
            <tbody>
                <tr  class="text-center" ng-if="rejectedRecords.length == 0">
                    <td colspan="8">No Record found</td> 
                </tr>
                <tr ng-if="rejectedRecords.length > 0" ng-repeat="data in rejectedRecords">
                    <td>{{data.user.name}}</td>
                    <td>{{data.user.phone_number}}</td>
                    <td>{{data.user.email_address}}</td>
                    <td><!-- <a href="#"> -->NO<!-- </a> --></td>
                    <td>{{data.smsent}}</td>
                    <td>{{data.time | date:'MM-dd-yyyy'}}</td>
                    <td class="cust-button">
                    <button class="approve" ng-click="approve(data,'reject')">Approve</button>
                    <!-- <button ng-click="reject(data,'reject')">X</button> -->
                    </td>
                </tr> 
            </tbody>
            </table>
        	</div>         
            <div class=" col-lg-12 showall">
            <a href="#/rejected"  >SHOW ALL REJECTED USERS</a>
            </div>
        </div>
        
        </div>
    </div>


</div>
