<div class="col-lg-12 mainwrap">
	
    <div class="row border-btm">
    	<div class="col-lg-12 logo">
        <img src="../images/logo.png" alt=""/>
        
        </div>
    
    
    </div>

	<div class="row">
    	<div class="col-lg-12 contentmainwrap">
        
        <div class="col-lg-12 contenttable no-padding">
        
        	<h4>Pending Approvals</h4>
            <div class="tableheight">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>PHONE#</th>
                    <th>EMAIL</th>
                    <th>FACEBOOK VERIFIED</th>
					<th>SMS SENT</th>
                    <th>REQUEST DATE</th>
                    <th class="cust-button"></th>

                </tr>
                </thead>
            <tbody>
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td><a href="#">Profile</a></td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td><a href="#">Profile</a></td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td><a href="#">Profile</a></td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td><a href="#">Profile</a></td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td><a href="#">Profile</a></td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
            </tbody>
            </table>
        	</div>
         
            <div class=" col-lg-12 showall">
            <span>SHOW ALL PENDING APPROVALS</span>
            </div>
        </div>
        
        <div class="col-lg-12 contenttable no-padding">
        
        	<h4>Approved Users</h4>
            <div class="tableheight">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>PHONE#</th>
                    <th>EMAIL</th>
                    <th>FACEBOOK VERIFIED</th>
					<th>SMS SENT</th>
                    <th>REQUEST DATE</th>
                    <th class="cust-button"></th>

                </tr>
                </thead>
            <tbody>
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
               
            </tbody>
            </table>
        	</div>
         
            <div class=" col-lg-12 showall">
            <span>SHOW ALL APPROVED USERS</span>
            </div>
        </div>
        
        <div class="col-lg-12 contenttable no-padding">
        
        	<h4>REJECTED USERS</h4>
            <div class="tableheight">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>PHONE#</th>
                    <th>EMAIL</th>
                    <th>FACEBOOK VERIFIED</th>
					<th>SMS SENT</th>
                    <th>REQUEST DATE</th>
                    <th class="cust-button"></th>

                </tr>
                </thead>
            <tbody>
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
                <tr>
               		<td>Irfan</td>
                    <td>Ganchi</td>
                    <td>408-643-5012</td>
                    <td>irfan.abhi@gmail.com</td>
                    <td>No</td>
					<td>Yes</td>
                    <td>06-08-2015</td>
                    <td class="cust-button">
                     <button>OK</button>
                    <button>X</button>
                    </td>
                </tr>
            </tbody>
            </table>
        	</div>
         
            <div class=" col-lg-12 showall">
            <span>SHOW ALL REJECTED USERS</span>
            </div>
        </div>
      
        
        
        
        </div>
    </div>


</div>
