<div class="col-lg-12 mainwrap">
	
    <div class="row border-btm">
    	<div class="col-lg-12 logo">
        <a href="#/"><img src="images/logo.png" alt=""/> </a>
        
        </div>
    
    
    </div>

	<div class="row">
    	<div class="col-lg-12 contentmainwrap">
        
        <div class="col-lg-12 contenttable no-padding">
        
        	<h4>Pending Approvals  <a href="#/" class="pull-right back">back</a></h4>
            <div style="height:470px;" class="tableheight">
            <div ng-if="pendingLoader" class="loader"></div>

              <table   ng-table="pendingRecordsTableParams" class="table">
                <tr ng-repeat="user in $data">
                  <td data-title="'AMBASSADOR ID'" sortable="'ambassador_id'">{{user.ambassador_id}}</td>
                  <td data-title="'NAME'" sortable="'user.name'">{{user.user.name}}</td>
                  <td data-title="'PHONE#'" sortable="'user.phone_number'">{{user.user.phone_number}}</td>
                  <td data-title="'EMAIL'" sortable="'user.email_address'">{{user.user.email_address}}</td>
                  <td data-title="'FACEBOOK VERIFIED'" >
                    <a href="{{user.fbURL}}" target="_blank" ng-if="user.hasFBUrl"> {{user.fbURL}}</a>
                    <span ng-if="!user.hasFBUrl">No</span></td>
                  <td data-title="'SMS SENT'" >{{user.smsent}}</td>
                  <td data-title="'REQUEST DATE'" >{{user.time | date:'MM-dd-yyyy'}}</td>
                  <td class="cust-button">
                    <button class="approve" ng-click="approve(user,'pending')">OK</button>
                    <button class="reject" ng-click="reject(user,'pending')">X</button>
                  </td>
                  <!--   <td data-title="'Name'" sortable="'name'">
                        {{user.name}}
                    </td>
                    <td data-title="'Age'" sortable="'age'">
                        {{user.age}}
                    </td> -->
                </tr>
              </table>
        	</div>  
        </div> 
         <pagination ng-if="false" total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
         
    </div>


</div>
