<ul class="resultList local-result-list">
    <li ng-repeat="result in cat.values | limitTo: cat.maxIndex">
        <a class="pointer" ui-sref="place({q:result.entity_data.common_data.name, cType:cat.key, entity: result.relcy_id.entity_id, cipher: result.relcy_id.cipher_id, img: result.image_info[0].mediaURL, dist:result.entity_data.local_data.location_info.display_distance })">
            <div class="media">
            <div class="media-left thumb-common thumb-place pointer">
                    <img class="media-object image-thumb-place" src="{{result.image_info[0].mediaURL}}" ng-if="result.image_info[0].mediaURL">
            </div>
            <div class="media-body">
               <h4 class="media-heading pointer">{{result.entity_data.common_data.name}}</h4>
               <p class="genre">
                    <span ng-if="result.entity_data.local_data.location_info.address.display_address">{{result.entity_data.local_data.location_info.address.display_address}}</span>
                    <span ng-if="result.entity_data.local_data.location_info.display_distance">{{result.entity_data.local_data.location_info.display_distance}}</span>
                </p>
                <p class="genre">
                    <span ng-if="result.entity_data.local_data.category">{{result.entity_data.local_data.category[0]}}</span>
                    <span ng-if="result.entity_data.local_data.price_range.display_price_range">{{result.entity_data.local_data.price_range.display_price_range}}</span>
                </p>
                <p class="genre">
                    <span ng-if="result.entity_data.local_data.business_hours.display_hours" style="color:#8cbe29">{{result.entity_data.local_data.business_hours.open_status}}</span>
                </p>
                <p class="score">
                    <span ng-if="!result.showStrRating" ng-repeat="sa in result.scoreArray track by $index"
                          class="full-star-list rating"></span>
                    <span ng-if="result.showHalfRating && !result.showStrRating"
                          class="half-star-list rating"></span>
                    <span ng-if="result.showStrRating">{{::result.rating}}</span>
                    <span ng-if="result.ratingSource"> - {{::result.ratingSource}}</span>
                </p>
            </div>
        </div>

        <div class="clearfix"></div>
            </a>
    </li>
</ul>
