<ul class="resultList">
	<li ng-repeat="result in relatedSearches">
        <a ui-sref="search({q: result.text})" class="pointer">
        <div class="media">
            <div class="media-body related-search">
              <h4 class="media-heading" id="top-aligned-media">
                  <span aria-hidden="true" class="glyphicon glyphicon-search search-icon"></span>
                  {{result.text}}
              </h4>
            </div>
        </div>
        <div class="clearfix"></div>
        </a>
    </li>
</ul>
