<ul class="resultList">
    <li ng-repeat="result in cat.values | limitTo: cat.maxIndex">

        <div class="media">
            <div class="media-body">
                <h4 class="media-heading" id="top-aligned-media">
                    <a href="{{result.clickUrl}}" target="_blank">{{result.title}}</a>
                </h4>
                <p>
                    <span><a href="{{result.clickUrl}}" target="_blank">{{result.displayUrl}}</a></span>
                </p>

                <p>{{result.summary}}</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>

</ul>
