<ul class="resultList video-result-list">
  <li ng-repeat="result in cat.values | limitTo: cat.maxIndex"> <a href="{{result.contentUrl}}" target="_blank">
    <div class="media">
      <div class="media-left thumb-common thumb-video" style="position:relative;">
        <div class="media-object image-thumb-video" style="background-image:url('{{result.thumbnailUrl}}')"></div>
        <img src="images/play-3-24.png" alt="" class="play-icon-thumb-vdo" ng-if="result.thumbnailUrl"/> </div>
      <div class="media-body">
        <h4 class="media-heading" id="top-aligned-media"> {{result.title}} </h4>
        <p class="genre"><span style="text-transform:uppercase">{{(result.contentUrl | urlFilter).split('.')[1]}} </span>
        <span class="duration">{{result.duration}}</span> </p>
      </div>
    </div>
    <div class="clearfix"></div>
    </a> </li>
</ul>
