<ul class="resultList">
  <!-- <a name="ENTERTAINMENT_VIDEO_MOVIE"></a> -->
	<li ng-repeat="result in cat.values | limitTo: cat.maxIndex">
    <div class="media">
    <div ng-if="result.relcy_id.entity_id" ng-click="showDetails(result)"  class="media-left pull-right" style="position: absolute;right: 0; z-index:10"><a href="javascript:void(0)" class="anchorjs-link"><span class="fa fa-chevron-right text-gray"></span></a></div>
        <div class="col-lg-4 pull-left">
          <a href="#">
          <div style=" background-image:url({{result.image_info[0].thumbnail.mediaURL}});" class="vdothumb">
         <img src="images/play-3-24.png"  alt=""  class="play-icon-thumb-vdo"/> </div>
          
          </a>
        </div>
        <div class="pull-right col-lg-8">
          <h4 class="media-heading" id="top-aligned-media">{{result.entity_data.common_data.name}}
              
          </h4>
         <div class="genre">
         	<span ng-if="result.entity_data.entertainment_data.common_data.parental_rating">{{result.entity_data.entertainment_data.common_data.parental_rating}}</span> 
            <span ng-if="result.entity_data.entertainment_data.common_data.release_year">{{result.entity_data.entertainment_data.common_data.release_year}}</span>   
            <span ng-if="result.entity_data.entertainment_data.movie_data.length">{{result.entity_data.entertainment_data.movie_data.length}}</span>
         </div>
         <p><span ng-repeat="performer in result.entity_data.entertainment_data.common_data.performer">{{performer.title}}</span> 
         <span ng-repeat="genre in result.entertainment_data.common_data.genre">{{result.entity_data.entertainment_data.common_data.genre[0]}}</span> </p>
         <p class="rating">
         	<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-empty"></span>
            <span>{{result.image_info[0].source}}</span>
         </p>
        </div>
       
   </div>
  </li>
  <div class="panelList">
    <a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length" ng-click="cat.maxIndex=cat.maxIndex+cat.incrementBy"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a>
  </div>
</ul>