<ul class="resultList">
    <li ng-repeat="result in cat.values | limitTo: cat.maxIndex">
        <div class="media">
            <div ng-if="result.relcy_id.entity_id"
                 ui-sref="detail({q:result.entity_data.common_data.name, cType:cat.key, entity: result.relcy_id.entity_id, cipher: result.relcy_id.cipher_id, img: result.image_info[0].thumbnail.mediaURL })"
                 class="detail-arrow" style="position: absolute;right: 30px; z-index:1"><a
                    href="javascript:void(0)"><span
                    class="fa fa-angle-right text-gray"></span></a></div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" style="width: 110px; height: 110px;" src="{{result.image_info[0].thumbnail.mediaURL}}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" id="top-aligned-media">{{result.entity_data.common_data.name}}</h4>
                <p class="genre">
                    <span ng-if="result.entity_data.entertainment_data.common_data.parental_rating">{{result.entity_data.entertainment_data.common_data.parental_rating}}</span>
                    <span ng-if="result.entity_data.entertainment_data.common_data.release_year">{{result.entity_data.entertainment_data.common_data.release_year}}</span>
                    <span ng-if="result.entity_data.entertainment_data.movie_data.length">{{result.entity_data.entertainment_data.movie_data.length | hourmins}}</span>
                </p>

                <p class="performer">
                    <span ng-repeat="performer in result.entity_data.entertainment_data.common_data.performer">{{performer.title}}</span>
                    <span ng-repeat="genre in result.entertainment_data.common_data.genre">{{result.entity_data.entertainment_data.common_data.genre[0]}}</span>
                </p>

                <p class="score">
                    <span ng-repeat="sa in result.scoreArray track by $index" class="fa fa-star rating"></span>
                    <span ng-if="result.showHalfRating" class="fa fa-star-half-empty rating"></span>
                    <span ng-if="result.image_info[0].source"> - {{result.image_info[0].source}}</span>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>

    </li>

</ul>
<div class="panelList">
    <a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length"
       ng-click="cat.maxIndex=cat.maxIndex+cat.incrementBy"><i class="fa fa-circle"></i>&nbsp;<i
            class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a>
</div>
