<ul class="resultList">
  <!-- <a name="WEB"></a> -->
	<li ng-repeat="result in cat.values | limitTo: cat.maxIndex">
    <div class="media">
      <div class="media-left">
        <!--<a href="#"><img src="{{result.image_info[0].thumbnail.mediaURL}}" title="" height="150px" width="150px"></a>-->
      </div>
      <div class="media-body">
        <h4 class="media-heading" id="top-aligned-media">{{result.title}}
            <a href="#top-aligned-media" class="anchorjs-link"><span class="anchorjs-icon"></span></a>
        </h4>
       <p>
       	<span><a href="{{result.clickUrl}}" target="_blank">{{result.displayUrl}}</a></span> 
       </p>
       <p>{{result.summary}}</p>
       <p><span>{{result.pingUrlSuffix}}</span></p>
      </div>
    </div>
  </li>
  <div class="panelList">
  	<a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length" ng-click="cat.maxIndex=cat.maxIndex+cat.incrementBy"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a>
  </div>
</ul>