<div class="resultList"> 
  <!-- <a name="RELATED_SEARCHES"></a> -->
  <div class="media">
    <div ng-click="openCastLightbox(cat.values,'IMAGES',$index)" ng-repeat="result in cat.values | limitTo: cat.maxIndex">
    	<div class="col-lg-4 pd10 pull-left">
            <a href="javascript:void();">
            <div style=" background-image:url({{result.thumbnailUrl}});" class="imagethumb"></div>
            </a>
       </div> 
    </div>
  </div>
  <!--<div ng-click="showDetails(result)"  class="panelList"> <a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length" ng-click="cat.maxIndex=cat.maxIndex+cat.incrementBy"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a> </div>-->
</div>
