<ul class="resultList">
<!-- <a name="RELATED_SEARCHES"></a> -->
	<li ng-repeat="result in cat.values | limitTo: cat.maxIndex">
    <div class="media">
    <div ng-if="result.relcy_id.entity_id" ng-click="showDetails(result)"  class="media-left pull-right " style="vertical-align:middle"><a href="javascript:void();" class="anchorjs-link">   <span class="fa fa-chevron-right text-gray "></span></a></div>
      <div class="col-lg-5 pull-left">
        <a href="{{result.contentUrl}}" target="_blank">
        <div style=" background-image:url({{result.thumbnailUrl}});" class="vdothumb">
        <img src="images/play-3-24.png"  alt="" class="play-icon-thumb-vdo"/> </div>
        </a>
      </div>
      <div class="pull-right" ng-class="result.thumbnailUrl.length>0?'col-lg-7':'col-lg-12'">
        <h4 class="media-heading" id="top-aligned-media">{{result.title}}
            <a href="#top-aligned-media" class="anchorjs-link"><span class="anchorjs-icon"></span></a>
        </h4>
       <p><a href="{{result.contentUrl}}" target="_blank">{{result.contentUrl}}</a></p>
       <p><span>{{result.duration}}</span></p>
      </div>
      
        </div>
  </div>
 </li>
 <div class="panelList">
    <a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length" ng-click="cat.maxIndex=cat.maxIndex+cat.incrementBy"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a>
  </div>
</ul>