<ul class="resultList">
	<li ng-repeat="result in cat.values | limitTo: cat.maxIndex">
    <div class="media">
      <div class="media-left">
        <a href="{{result.contentUrl}}" target="_blank"><img src="{{result.thumbnailUrl}}" title="" height="150px" width="150px"></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading" id="top-aligned-media">{{result.title}}
            <a href="#top-aligned-media" class="anchorjs-link"><span class="anchorjs-icon"></span></a>
        </h4>
       <p><a href="{{result.contentUrl}}" target="_blank">{{result.contentUrl}}</a></p>
       <p><span>{{result.duration}}</span></p>
      </div>
  </div>
 </li>
</ul>