<div class="resultList">
    <div class="row">
        <div ng-click="openCastLightbox(cat.values,'IMAGES',$index)" ng-repeat="result in cat.values | limitTo: cat.maxIndex">
        <div class="col-xs-6 col-md-3" style="height: 145px; width: 145px; display: block; position: relative; overflow: hidden; margin-bottom: 15px">
            <a class="thumbnail image-thumb" href="#" style="background-image:url({{result.thumbnailUrl}});">
                <!--<img alt="100%x180" style="height: 100px; width: 100px; display: block;" src="{{result.thumbnailUrl}}">-->
            </a>
        </div>
        </div>
    </div>
    <div class="clearfix"></div>
  <div class="panelList"> <a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length" ng-click="incrementAndScroll(cat)"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a> </div>
</div>

