<ul class="resultList">
    <li ng-repeat="result in cat.values | limitTo: cat.maxIndex">
        <div class="media">
            <div class="media-left" ng-if="result.imageContentUrl">
                <a href="{{result.clickUrl}}" target="_blank">
                    <img class="media-object" style="width: 150px; height: 150px;" src="{{result.imageContentUrl}}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" id="top-aligned-media">
                    <a href="{{result.clickUrl}}" target="_blank">{{result.title}}</a>
                </h4>
                <p><a href="{{result.clickUrl}}" target="_blank">{{result.displayUrl}}</a></p>
                <p class="timestamp"><span>{{result.publishedTime}}</span></p>
                <p><span>{{result.description}}</span></p>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>

</ul>
<div class="panelList">
    <a href="javascript:void(0)" ng-if="cat.maxIndex<cat.values.length"
       ng-click="cat.maxIndex=cat.maxIndex+cat.incrementBy"><i class="fa fa-circle"></i>&nbsp;<i
            class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a>
</div>