@charset "utf-8";
/* CSS Document */

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    #pageloader {
        height: 70%;
    }

    .wrapper {
        min-height: 0px;
        height: auto;
    }

    .wrapper .container {
        margin-bottom: 0;
    }

    .pull-left, .pull-right {
        float: none !important;
    }

    .text-left, .text-right {
        text-align: center !important;
    }

    .col-lg-8, .col-lg-3, .col-lg-6, .col-lg-9, .col-lg-4, .col-lg-5, .media.col-lg-12, .col-lg-7 {
        margin: 0;
        padding: 0;
    }

    .search-result-container > .col-lg-12, .col-lg-8.search-result-container {
        margin: 0;
        padding: 0;
    }

    .vdothumb {
        width: 160px;
        height: 150px !important;
    }

    .detail-arrow {
        display: none;
    }

    .topSection {
        margin-top: 40px;
    }

    .detail-page-nav {
        padding-top: 100px;
    }

    .panel {
        margin: 20px 10px;
    }

    .topSection {
        margin-bottom: 0;
    }

    .topSection .coverImage {
        height: 150px;
    }

    .topSection .profileImage {
        display: none;
    }

    .topSection .details {
        padding-left: 0;
        height: auto;
    }

    .detail_left {
        display: block;
        float: none;
        margin: 0 10px;
        vertical-align: top;
        width: auto;
    }

    .topSection .details h2 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin: 0 0 5px;
    }

    .topSection .details p {
        margin: 2px 0 !important;
    }

    .topSection .details span {
        font-size: 12px;
        line-height: normal;
    }

    .detail_right {
        display: block;
        float: none;
        margin-top: 0;
        vertical-align: top;
        width: auto;
        text-align: center;
    }

    .detail_right p {
        display: inline-block;
    }

    .detail_right p a {
        font-size: 12px;
        display: inline-block;
        margin: 0;
        text-decoration: none;
        font-weight: 300;
        padding: 5px 10px;
    }

    .topSection .detail_left img {
        margin: 1px 0;
        border: 1px solid #eee;
    }

    .detailvideo {
        padding: 10px;
        border-bottom: solid 1px #e5eaee;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 40%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 20%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 14%;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 94% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 90%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .col-lg-8.search-result-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 15%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 14%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 48px;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 96.6% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li:last-child > a {
        padding: 0;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .footer {
        padding: 0 10px 0 20px;
    }

    footer .pull-right {
        float: right !important;
    }

    footer .pull-left {
        float: left !important;
    }

    footer .text-right {
        text-align: right !important;
        float: right !important;
    }

    footer .text-left {
        text-align: left !important;
        float: left !important;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }
}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    #pageloader {
        height: 70%;
    }

    .wrapper {
        min-height: 0px;
        height: auto;
    }

    .wrapper .container {
        margin-bottom: 0;
    }

    .pull-left, .pull-right {
        float: none !important;
    }

    .text-left, .text-right {
        text-align: center !important;
    }

    .col-lg-8, .col-lg-3, .col-lg-6, .col-lg-9, .col-lg-4, .col-lg-5, .media.col-lg-12, .col-lg-7 {
        margin: 0;
        padding: 0;
    }

    .search-result-container > .col-lg-12, .col-lg-8.search-result-container {
        margin: 0;
        padding: 0;
    }

    .vdothumb {
        width: 160px;
        height: 150px !important;
    }

    .detail-arrow {
        display: none;
    }

    .topSection {
        margin-top: 40px;
    }

    .detail-page-nav {
        padding-top: 100px;
    }

    .panel {
        margin: 20px 10px;
    }

    .topSection {
        margin-bottom: 0;
    }

    .topSection .coverImage {
        height: 150px;
    }

    .topSection .profileImage {
        display: none;
    }

    .topSection .details {
        padding-left: 0;
        height: auto;
    }

    .detail_left {
        display: block;
        float: none;
        margin: 0 10px;
        vertical-align: top;
        width: auto;
    }

    .topSection .details h2 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin: 0 0 5px;
    }

    .topSection .details p {
        margin: 2px 0 !important;
    }

    .topSection .details span {
        font-size: 12px;
        line-height: normal;
    }

    .detail_right {
        display: block;
        float: none;
        margin-top: 0;
        vertical-align: top;
        width: auto;
        text-align: center;
    }

    .detail_right p {
        display: inline-block;
    }

    .detail_right p a {
        font-size: 12px;
        display: inline-block;
        margin: 0;
        text-decoration: none;
        font-weight: 300;
        padding: 5px 10px;
    }

    .topSection .detail_left img {
        margin: 1px 0;
        border: 1px solid #eee;
    }

    .detailvideo {
        padding: 10px;
        border-bottom: solid 1px #e5eaee;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 40%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 20%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 14%;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 94% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 90%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .col-lg-8.search-result-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 15%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 14%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 48px;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 96.6% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li:last-child > a {
        padding: 0;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .footer {
        padding: 0 10px 0 20px;
    }

    footer .pull-right {
        float: right !important;
    }

    footer .pull-left {
        float: left !important;
    }

    footer .text-right {
        text-align: right !important;
        float: right !important;
    }

    footer .text-left {
        text-align: left !important;
        float: left !important;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    #pageloader {
        height: 70%;
    }

    .wrapper {
        min-height: 0px;
        height: auto;
    }

    .wrapper .container {
        margin-bottom: 0;
    }

    .pull-left, .pull-right {
        float: none !important;
    }

    .text-left, .text-right {
        text-align: center !important;
    }

    .col-lg-8, .col-lg-3, .col-lg-6, .col-lg-9, .col-lg-4, .col-lg-5, .media.col-lg-12, .col-lg-7 {
        margin: 0;
        padding: 0;
    }

    .search-result-container > .col-lg-12, .col-lg-8.search-result-container {
        margin: 0;
        padding: 0;
    }

    .vdothumb {
        /*width: 160px;*/
        height: 150px !important;
    }

    .detail-arrow {
        display: none;
    }

    .topSection {
        margin-top: 40px;
    }

    .detail-page-nav {
        padding-top: 100px;
    }

    .panel {
        margin: 20px 10px;
    }

    .topSection {
        margin-bottom: 0;
    }

    .topSection .coverImage {
        height: 150px;
    }

    .topSection .profileImage {
        display: none;
    }

    .topSection .details {
        padding-left: 0;
        height: auto;
    }

    .detail_left {
        display: block;
        float: none;
        margin: 0 10px;
        vertical-align: top;
        width: auto;
    }

    .topSection .details h2 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin: 0 0 5px;
    }

    .topSection .details p {
        margin: 2px 0 !important;
    }

    .topSection .details span {
        font-size: 12px;
        line-height: normal;
    }

    .detail_right {
        display: block;
        float: none;
        margin-top: 0;
        vertical-align: top;
        width: auto;
        text-align: center;
    }

    .detail_right p {
        display: inline-block;
    }

    .detail_right p a {
        font-size: 12px;
        display: inline-block;
        margin: 0;
        text-decoration: none;
        font-weight: 300;
        padding: 5px 10px;
    }

    .topSection .detail_left img {
        margin: 1px 0;
        border: 1px solid #eee;
    }

    .detailvideo {
        padding: 10px;
        border-bottom: solid 1px #e5eaee;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 40%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 20%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 14%;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 94% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 90%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px;
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .col-lg-8.search-result-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 15%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 14%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 9%;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 96.6% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li:last-child > a {
        padding: 0;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .footer {
        padding: 0 10px 0 20px;
    }

    footer .pull-right {
        float: right !important;
    }

    footer .pull-left {
        float: left !important;
    }

    footer .text-right {
        text-align: right !important;
        float: right !important;
    }

    footer .text-left {
        text-align: left !important;
        float: left !important;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    #pageloader {
        height: 65%;
    }

    .wrapper {
        min-height: 0px;
        height: auto;
    }

    .wrapper .container {
        margin-bottom: 0;
    }

    .pull-left, .pull-right {
        float: none !important;
    }

    .text-left, .text-right {
        text-align: center !important;
    }

    .col-lg-8, .col-lg-3, .col-lg-6, .col-lg-9, .col-lg-4, .col-lg-5, .media.col-lg-12, .col-lg-7 {
        margin: 0;
        padding: 0;
    }

    .search-result-container > .col-lg-12, .col-lg-8.search-result-container {
        margin: 0;
        padding: 0;
    }

    .vdothumb {
        /*width: 160px;*/
        height: 150px !important;
    }

    .detail-arrow {
        display: none;
    }

    .topSection {
        margin-top: 40px;
    }

    .detail-page-nav {
        padding-top: 100px;
    }

    .panel {
        margin: 20px 10px;
    }

    .topSection {
        margin-bottom: 0;
    }

    .topSection .coverImage {
        height: 150px;
    }

    .topSection .profileImage {
        display: none;
    }

    .topSection .details {
        padding-left: 0;
        height: auto;
    }

    .detail_left {
        display: block;
        float: none;
        margin: 0 10px;
        vertical-align: top;
        width: auto;
    }

    .topSection .details h2 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin: 0 0 5px;
    }

    .topSection .details p {
        margin: 2px 0 !important;
    }

    .topSection .details span {
        font-size: 12px;
        line-height: normal;
    }

    .detail_right {
        display: block;
        float: none;
        margin-top: 0;
        vertical-align: top;
        width: auto;
        text-align: center;
    }

    .detail_right p {
        display: inline-block;
    }

    .detail_right p a {
        font-size: 12px;
        display: inline-block;
        margin: 0;
        text-decoration: none;
        font-weight: 300;
        padding: 5px 10px;
    }

    .topSection .detail_left img {
        margin: 1px 0;
        border: 1px solid #eee;
    }

    .detailvideo {
        padding: 10px;
        border-bottom: solid 1px #e5eaee;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 40%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 20%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 14%;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 94% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 90%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px;
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 15%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 14%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 9%;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 95.9% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li:last-child > a {
        padding: 0;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .footer {
        padding: 0 10px 0 20px;
    }

    footer .pull-right {
        float: right !important;
    }

    footer .pull-left {
        float: left !important;
    }

    footer .text-right {
        text-align: right !important;
        float: right !important;
    }

    footer .text-left {
        text-align: left !important;
        float: left !important;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    #pageMiddle {
        width: 93%;
    }
    .title {
        font-size: 40px;
        margin-bottom: 5%;
        float: none !important;

    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 73px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 51%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        width: 100%;
    }

    #pageMiddle {
        width: 93%;
    }
    .pageMiddle {
        margin-top: 45%;
    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 73px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 51%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {
    #pageMiddle {
        width: 93%;
    }
    .pageMiddle {
        margin-top: 26%;
    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 30px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 64%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    #pageMiddle {
        width: 93%;
    }
    .title {
        font-size: 40px;
        margin-bottom: 5%;
        float: none !important;

    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 73px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 51%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        width: 100%;
    }

    #pageMiddle {
        width: 93%;
    }
    .pageMiddle {
        margin-top: 45%;
    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 73px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 51%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {
    #pageMiddle {
        width: 93%;
    }
    .pageMiddle {
        margin-top: 26%;
    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 30px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 64%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    #pageMiddle {
        width: 93%;
    }
    .title {
        font-size: 40px;
        margin-bottom: 5%;
        float: none !important;

    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 73px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 51%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        width: 100%;
    }

    #pageMiddle {
        width: 93%;
    }
    .pageMiddle {
        margin-top: 45%;
    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 73px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 51%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    #pageMiddle {
        width: 93%;
    }
    .pageMiddle {
        margin-top: 26%;
    }
    .place-navlist {
        margin-top: 0px;
    }

    .innerPageMiddle {
        margin-top: 0%;
        position: fixed;
        z-index: 9;
        background: none;
        padding-top: 0%;
        height: 120px;
    }

    .relcysmall {
        font-size: 22px;
        padding: 20px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 26px;
    }

    .leftsidebar {
        margin: 0 0 0 20px;
        position: fixed;
        width: 110px;
        background-color: #FFF;
        padding-bottom: 10px;
        z-index: 100;
    }

    .nav > li {
        display: inline-block;
        margin: 5px 0;
    }

    .movie-navlist {
        margin-top: 226px;
    }

    .topictitle {
        height: 40px;
        line-height: 40px;

    }

    .nav > li > {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 0 12px 5px 7px;
        margin: 0;
    }

    .relatedSearchResult {
        right: 30px;
        width: 200px;
    }

    .col-lg-8.search-result-container {
        width: 64%;
        float: left;
        margin: 0 0 0 130px;
    }

    .media-heading {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .topSection .details {
        height: auto;
        min-height: 120px;
    }

    #map {
        height: 300px !important;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

    .pageResult {
        padding-top: 120px;
    }

    /*Videos*/
    #details_images {
        width: 100%;
    }

    .detailvideo .col-lg-4 {
        width: 33.3333%;
    }

    .footer .col-lg-6 {
        float: left;
        width: 49%;
    }

}