@charset "utf-8";
/* CSS Document */
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    #pageloader {
        height: 70%;
    }

    .wrapper {
        min-height: 0px;
        height: auto;
    }

    .wrapper .container {
        margin-bottom: 0;
    }

    .pull-left, .pull-right {
        float: none !important;
    }

    .text-left, .text-right {
        text-align: center !important;
    }

    .col-lg-8, .col-lg-3, .col-lg-6, .col-lg-9, .col-lg-4, .col-lg-5, .media.col-lg-12, .col-lg-7 {
        margin: 0;
        padding: 0;
    }

    .search-result-container > .col-lg-12, .col-lg-8.search-result-container {
        margin: 0;
        padding: 0;
    }

    .vdothumb {
        width: 160px;
        height: 150px !important;
    }

    .detail-arrow {
        display: none;
    }

    .topSection {
        margin-top: 40px;
    }

    .detail-page-nav {
        padding-top: 100px;
    }

    .panel {
        margin: 20px 10px;
    }

    .topSection {
        margin-bottom: 0;
    }

    .topSection .coverImage {
        height: 150px;
    }

    .topSection .profileImage {
        display: none;
    }

    .topSection .details {
        padding-left: 0;
        height: auto;
    }

    .detail_left {
        display: block;
        float: none;
        margin: 0 10px;
        vertical-align: top;
        width: auto;
    }

    .topSection .details h2 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin: 0 0 5px;
    }

    .topSection .details p {
        margin: 2px 0 !important;
    }

    .topSection .details span {
        font-size: 12px;
        line-height: normal;
    }

    .detail_right {
        display: block;
        float: none;
        margin-top: 0;
        vertical-align: top;
        width: auto;
        text-align: center;
    }

    .detail_right p {
        display: inline-block;
    }

    .detail_right p a {
        font-size: 12px;
        display: inline-block;
        margin: 0;
        text-decoration: none;
        font-weight: 300;
        padding: 5px 10px;
    }

    .topSection .detail_left img {
        margin: 1px 0;
        border: 1px solid #eee;
    }

    .detailvideo {
        padding: 10px;
        border-bottom: solid 1px #e5eaee;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 40%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 20%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 14%;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 94% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 90%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .col-lg-8.search-result-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .media-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    ul.resultList li {
        padding: 10px;
    }

    .resultList p {
        font-size: 12px;
        color: #8899a9;
        line-height: 12px;
        font-weight: 300;
    }

    .resultList span.fa, .action-detail span.fa {
        margin: 0 10px 0 0;
        color: #cad4db;
        font-size: 12px;
    }

    .resultList p span a {
        color: #2b7bb9;
        font-size: 12px;
        line-height: 12px;
    }

    .thumb-img-n-w img {
        width: auto;
    }

    .imagethumb {
        margin: 10px;
    }

    .pageMiddle {
        margin-top: 15%;
    }

    .title {
        font-size: 24px;
        color: #8899a6;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-family: lato;
        font-weight: 400;
        margin-left: 5px;
        float: none !important;
    }

    #bighead > img {
        width: 14%;
    }

    .relcysmall {
        font-size: 20px;
        padding: 15px 0 5px 5px;
        color: #8899a6;
        font-weight: 300;
        position: relative;
        left: 0;
        top: 0;
        float: none !important;
    }

    #bighead.relcysmall > img {
        width: 48px;
    }

    .innerPageMiddle {
        height: 100px;
        margin: 0;
        position: fixed;
        z-index: 9;
        background: none;
        padding: 0;
        width: 96.6% !important;
    }

    .pageResult {
        padding-top: 100px;
    }

    .leftsidebar {
        margin: 0 10px 0 !important;
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        padding: 10px 0;
    }

    .nav > li {
        position: relative !important;
        display: inline-block !important;
        border-left: none !important;
        line-height: 14px !important;
    }

    .nav > li > a {
        color: #8899a6;
        display: block;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
        padding: 0 8px 0 0;
        position: relative;
    }

    .nav > li:last-child > a {
        padding: 0;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: none;
    }

    .selected {
        border-left: none !important;
    }

    div.col-lg-8.search-result-container .col-lg-12.result-list {
        margin-top: 60px
    }

    .topictitle {
        background: none repeat scroll 0 0 #f5f8fa;
        color: #9299a6;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px;
        height: auto;
        line-height: normal;
    }

    footer {
        background-color: #8899a6;
        width: 100%;
        position: fixed;
        bottom: 0px;
        color: #ccd6dd;
        font-size: 12px;
        height: auto;
        line-height: 30px;
    }

    .footer {
        padding: 0 10px 0 20px;
    }

    footer .pull-right {
        float: right !important;
    }

    footer .pull-left {
        float: left !important;
    }

    footer .text-right {
        text-align: right !important;
        float: right !important;
    }

    footer .text-left {
        text-align: left !important;
        float: left !important;
    }

    .btn-circle {
        margin-top: 0px;
    }

    .relcysrchInput .input-group .angucomplete-holder .form-control {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 0;
    }
}
