@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .leftsidebar {
        margin: 11px 0 0 -122px;
        width: 100px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
@media only screen and (min-width: 1280px){
    .container {
        width: 970px;
    }
}
@media only screen and (min-width: 1366px){
    .container {
        width: 970px;
    }

}
@media only screen and (min-width: 1440px) {
    .container {
        width: 970px;
    }

}
@media only screen and (min-width: 1600px){
    .container {
        width: 1280px;
    }
    .lg-sc{
        width: 970px;
    }
}
@media only screen and (min-width: 1680px){
    .container {
        width: 1280px;
    }
    .lg-sc{
        width: 970px;
    }
    .relcysmall {
        left: -14%;
        margin: 0;
        position: relative;
        top: 44px;
    }
    .leftsidebar {
        margin: 11px 0 0 -128px;
    }

}
@media only screen and (min-width: 1920px){
    .container {
        width: 1280px;
    }
    .lg-sc{
        width: 970px;
    }
    .relcysmall {
        left: -18.6%;
        margin: 0;
        position: relative;
        top: 44px;
    }
    .leftsidebar {
        margin: 11px 0 0 -185px;
        width: auto;
    }
}
@media only screen and (min-width: 2048px){
    .container {
        width: 1280px;
    }
    .lg-sc{
        width: 970px;
    }
    .relcysmall {
        left: -18.6%;
        margin: 0;
        position: relative;
        top: 44px;
    }
    .leftsidebar {
        margin: 11px 0 0 -185px;
        width: auto;
    }
    #map {
        height: 400px !important;
        width: 612px !important;
    }

}
@media only screen and (min-width: 2560px) {
    .container {
        width: 1880px;
    }
    .lg-sc{
        width: 970px;
    }
    .relcysmall {
        left: -12.6%;
        margin: 0;
        position: relative;
        top: 44px;
    }
    .leftsidebar {
        margin: 11px 0 0 -185px;
        width: auto;
    }
    #map {
        height: 400px !important;
        width: 1000px !important;
    }

}
@media only screen and (min-width: 2880px){
    .container {
        width: 1880px;
    }
    .lg-sc{
        width: 970px;
    }
    #map {
        height: 400px !important;
        width: 1000px !important;
    }

}
@media only screen and (min-width: 3840px){

    .container {
        width: width: 1880px;
    }
    .lg-sc{
        width: 970px;
    }
    #map {
        height: 600px !important;
        width: 1000px !important;
    }

}
@media only screen and (min-width: 4096px){
    .container {
        width: 1880px;
    }
    .lg-sc{
        width: 970px;
    }
    #map {
        height: 600px !important;
        width: 1000px !important;
    }
}
@media only screen and (min-width: 5120px) {
    .container {
        width: 1880px;
    }
    .lg-sc{
        width: 970px;
    }
    #map {
        height: 400px !important;
        width: 1000px !important;
    }
}
