@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 5120px) {
	.wrapper .container {width:1800px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relatedSearch {position: fixed; width: 100%; max-width: 960px;}
	.relatedSearchResult{right:-80px; width:390px;}
	.col5 {width:40.667%;}
	.leftsidebar {margin:104px 0 0 -100px;}
	.place-navlist .leftsidebar {margin:5px 0 0 -100px}
	#details_movies, #details_places {margin-top:108px!important; width:960px;}
	.pageResult	{width:960px;}
	#map {height:400px!important; width:1000px!important;}
	.col5 .panel {width:50%;}
	.relcysmall {left:-235px;}
	
}
@media only screen and (max-width: 2880px) {
	.wrapper .container {width:1800px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relatedSearch {position: fixed; width: 100%; max-width: 960px;}
	.relatedSearchResult{right:-80px; width:390px;}
	.col5 {width:40.667%;}
	.leftsidebar {margin:104px 0 0 -100px;}
	.place-navlist .leftsidebar {margin:5px 0 0 -100px}
	#details_movies, #details_places {margin-top:108px!important; width:960px;}
	.pageResult	{width:960px;}
	#map {height:400px!important; width:1000px!important;}
	.col5 .panel {width:50%;}
}
@media only screen and (max-width: 2560px) {
	.wrapper .container {width:1800px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relatedSearch {position: fixed; width: 100%; max-width: 960px;}
	.relatedSearchResult{right:-80px; width:390px;}
	.col5 {width:40.667%;}
	.leftsidebar {margin:104px 0 0 -100px;}
	.place-navlist .leftsidebar {margin:5px 0 0 -100px}
	#details_movies, #details_places {margin-top:108px!important; width:960px;}
	.pageResult	{width:960px;}
	#map {height:400px!important; width:1000px!important;}
	.col5 .panel {width:50%;}
}


@media only screen and (max-width: 1920px) {
	.wrapper .container {width:1280px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relatedSearch {position: fixed; width: 100%; max-width: 960px;}
	.relatedSearchResult{position:absolute; right:-275px; width:390px;}
	.col5 {width:40.667%;}

}

@media only screen and (max-width: 1680px) {
	.wrapper .container {width:1120px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relatedSearchResult{position:absolute; right:-118px; width:340px;}

}
@media only screen and (max-width: 1600px) {
	.wrapper .container {width:1060px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relatedSearchResult{position:absolute; right:-64px; width:320px;}
	.col5 {width: 41.2%;}

}
@media only screen and (max-width: 1440px) {
	.wrapper .container {width:960px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relatedSearchResult{position:absolute; right:40px; width:280px;}


}
@media only screen and (max-width: 1366px) {
	.wrapper .container {width:880px;}
	.innerPageMiddle {min-width:64%; max-width:64%;}
	.relatedSearch {position: fixed; width: 100%; max-width: 960px;}
	.relatedSearchResult{position: absolute; right:117px;  width:260px;}
	.col5 {width: 41%;}

}
@media only screen and (max-width: 1280px) {
	.wrapper .container {width:780px;}
	.innerPageMiddle {min-width:60.2%; max-width:60.2%;}
	.col5 {width: 41.6%;}
	.relatedSearchResult{position: absolute; right:221px;  width:225px;}
	.col-lg-7 {float:left; width:57%;}
	.leftsidebar {margin:104px 0 0 -100px;}
	.place-navlist .leftsidebar {margin:5px 0 0 -100px;}

}
@media only screen and (max-width: 1200px) {
	.wrapper .container {width:780px;}
	.innerPageMiddle {min-width:64.2%; max-width:64.2%;}
	.relcysmall {left:-20%;}
	.col5 {width: 41.6%;}
	.relatedSearchResult{position: absolute; right:221px;  width:225px;}
	.col-lg-7 {float:left; width:57%;}
	.leftsidebar {margin:104px 0 0 -100px;}
	.place-navlist .leftsidebar {margin:5px 0 0 -100px;}

}
@media only screen and (max-width: 1080px) {
	.wrapper .container {width:700px;}
	.innerPageMiddle {min-width:64%; max-width:64%;}
	.col-lg-12 {float:left; width:100%;}
	.relcysmall {left: -22%;}
	.col-lg-8 {float:left; width:66.6667%;}
	.col-lg-7 {float:left; width:58.5%;}
	.relatedSearchResult{position:absolute; right:296px; width:210px;}
	.leftsidebar {margin:104px 0 0 -100px;}
	.place-navlist .leftsidebar {margin:5px 0 0 -100px;}
	.media .col-lg-3 {width:100%;}
	.media .col-lg-4 {width:100%;}
	.media .col-lg-5 {width:100%;}
	.media .col-lg-7 {width:100%;}
	.media .col-lg-8 {width:100%;}
	.media .col-lg-9 {width:100%; margin-top:10px;}
	/*Videos*/
	#details_images {width:100%;}
	.detailvideo .col-lg-4 {width:33.3333%;}
	.footer .col-lg-6 {float:left; width:49%;}
}
@media only screen and (max-width: 1024px) {
	.wrapper .container {width:700px;}
	.innerPageMiddle {min-width:68%; max-width:68%;}
	.col-lg-12 {float:left; width:100%;}
	.relcysmall {left: -20%;}
	.col-lg-8 {float:left; width:66.6667%;}
	.col-lg-7 {float:left; width:59%;}
	.relatedSearchResult{position: absolute; right:296px;  width:210px;}
	/*Videos*/
	#details_images {width:100%;}
	.detailvideo .col-lg-4 {width:33.3333%;}
	.footer .col-lg-6 {float:left; width:49%;}

} 
@media only screen and (max-width: 1050px) {
	.wrapper .container {width:700px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.relcysmall {left: -24%;}
	/*Videos*/
	.col-lg-7 {float:left; width:58%;}
	.col-lg-5 {float:left;}
	.col5 {width:40.6%;}
	#details_images {width:100%;}
	.detailvideo .col-lg-4 {width:33.3333%;}
	.media .col-lg-3 {width:100%;}
	.media .col-lg-4 {width:100%;}
	.media .col-lg-5 {width:100%;}
	.media .col-lg-7 {width:100%;}
	.media .col-lg-8 {width:100%;}
	.media .col-lg-9 {width:100%; margin-top:10px;}
	.footer .col-lg-6 {float:left; width:49%;}
	
}
@media only screen and (max-width: 900px) {
	.wrapper .container {width:600px;}
	.innerPageMiddle {min-width:66%; max-width:66%;}
	.detail_left {width:70%;}
	.detail_right {width:22%;}
	.topSection .details {height:auto;}
	.relcysmall {left: -22%; font-size:26px;}
	.relcysmall img {width:30px;}
	.relatedSearchResult {right:320px;}
	.col-lg-8 {width:60.667%}
	.col-lg-7 {float:left; width:58%;}
	.col-lg-5 {float:left;}
	.col5 {width:40.6%;}
	/*Videos*/
	#details_images {width:100%;}
	.detailvideo .col-lg-4 {width:33.3333%;}
	.footer .col-lg-6 {float:left; width:49%;}
	
	
}
@media only screen and (max-width: 800px) {
	
	.wrapper .container {width:760px}
	.innerPageMiddle {max-width:93%; min-width:93%; padding-bottom:20px}
	.relcysmall {position:static; width:100%; text-align:center; margin:20px 0px;}
	.leftsidebar {margin:-77px 0 0 20px; position:fixed; width:700px; background-color:#FFF; padding-bottom:10px; z-index:100}
	.nav > li {display:inline-block;  }
	.selected {border-bottom: 4px solid #ccd6dd !important; border-left:none!important;}
	.movie-navlist {margin-top:226px;}
	.place-navlist {margin-top:122px;}
	.nav > li > {margin-bottom:5px;}
	.nav > li > a {padding:0 12px 5px 7px; margin:0 0 5px;}
	.relatedSearchResult {right:73px; width:221px;}
	.col-lg-8 {width:65.667%;}
	.topSection .details {height:auto; min-height:120px;}
	#map {height:300px!important;}
	
	
	.col-lg-12 {float:left; width:100%;}
	.relcysmall {left: -25%;}
	.topSection .details {height:auto;}
	.detail_left {width:70%;}
	.detail_right {width:22%;}
	.topSection .profileImage {top:258px;}
	
	.col-lg-8 {float:left; width:65.667%;}
	.col-lg-7 {float:left; width:57%;}
	.col-lg-5 {float:left;}
	.col5 {width:40.6%;}
	.relatedSearchResult{position: absolute; right:75px; width:225px;}
	.relcysmall {font-size:24px;}
	.relcysmall img {width:25px;}
	/*Videos*/
	#details_images {width:100%;}
	.detailvideo .col-lg-4 {width:33.3333%;}
	.footer .col-lg-6 {float:left; width:49%;}

}

@media only screen and (max-width: 768px) {
	.wrapper .container {width:720px;}
	.innerPageMiddle {max-width:93%; min-width:93%; padding-bottom:20px}
	.relcysmall {position:static; width:100%; text-align:center; margin:20px 0px;}
	.leftsidebar {margin:-77px 0 0 20px; position:fixed; width:675px; background-color:#FFF; padding-bottom:10px; z-index:100}
	.nav > li {display:inline-block;  }
	.selected {border-bottom: 4px solid #ccd6dd !important; border-left:none!important;}
	.movie-navlist {margin-top:226px;}
	.place-navlist {margin-top:122px;}
	.nav > li > {margin-bottom:5px;}
	.nav > li > a {padding:0 12px 5px 7px; margin:0 0 5px;}
	.relatedSearchResult {right:73px; width:221px;}
	.col-lg-8 {width:65.667%;}
	.topSection .details {height:auto; min-height:120px;}
	#map {height:300px!important;}
	
	.footer .col-lg-6 {float:left; width:49%;}
	/*Videos*/
	#details_images {width:100%;}
	.detailvideo .col-lg-4 {width:33.3333%;}
	.footer .col-lg-6 {float:left; width:49%;}
}
@media only screen and (max-width: 600px) {
	
	.wrapper .container {width:540px}
	.innerPageMiddle {max-width:90%; min-width:90%; padding-bottom:20px}
	.relcysmall {position:static; width:100%; text-align:center; margin:20px 0px;}
	.leftsidebar {margin:-50px 0 0 15px; position:fixed; width:492px; background-color:#FFF; padding-bottom:10px; z-index:100}
	.nav > li {display:inline-block;  }
	.selected {border-bottom: none!important; border-left:none!important; color:#333!important;}
	.movie-navlist {margin-top:195px;}
	.place-navlist {margin-top:95px;}
	.nav > li > {margin-bottom:5px;}
	.nav > li > a {padding:0 12px 5px 7px; margin:0 0 5px; font-size:14px;}
	.nav > li > a:hover {background:none;}
	.relatedSearch { float:left; margin-left:4%; max-width:none; position:static; width:92%;}
	.relatedSearchResult {position:static; width:100%;}
	.col-lg-8 {width:65.667%;}
	.topSection .details {height:auto; min-height:120px;}
	#map {height:300px!important;}
	.pageResult .col-lg-8 {width:100%; float:none;}
	
	/*Videos*/
	#details_images {width:100%;}
	.detailvideo .col-lg-4 {width:33.3333%;}
	.footer .col-lg-6 {float:left; width:49%;}
	
	
	}


