@charset "utf-8";
/* CSS Document */

body {
	font-family: "lato", Helvetica, Neue Helvetica, Arial, sans-serif;
}

::-webkit-input-placeholder {
 color: #CCD6DD;
}

:-moz-placeholder { /* Firefox 18- */
 color: #CCD6DD;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #CCD6DD;
}

:-ms-input-placeholder {
 color: #CCD6DD;
}
.wrapper {
	min-height: 605px;
	height: 100%;
}
.wrapper .container {
	margin-bottom: 150px;
}
.container {
	width: 100%;
}
.pageMiddle {
	margin: 15% auto 0;
	width: 80%;
}
.title {
	font-size: 32px;
	color: #8899a6;
	margin-bottom: 5%;
	text-transform: uppercase;
	font-family: lato;
	font-weight: 400;
	margin-left: 5px
}
.title img {
	width: 48px;
	height: 48px;
	margin-top: -5px;
}
.titleSmall {
	font-size: 24px;
	color: #8899a6;
	margin-bottom: 5%;
	text-transform: uppercase;
	font-family: lato;
	font-weight: 400;
	margin-left: -15px;
}
.relcysrchInput {
}
.relcysrchInput input[type="text"] {
	border: none;
	box-shadow: none;
	border-bottom: solid 1px #e2e2e2;
	font-size: 42px;
	color: #000;
	font-family: latolight
}
.relcysrchInput .input-group-addon {
	background-color: transparent;
	border: none;
	border-bottom: solid 1px #e2e2e2;
	padding: 0px;
}
/*.pageResult {margin-top:-8%;}*/
ul.resultList {
	margin-bottom: 0;
	padding: 0px;
}
ul.resultList li {
	list-style: none;
	border-bottom: solid 1px #f2f2f2;
	padding: 10px;
	margin-bottom: 0px;
	width: 100%;
}
.resultList p span {
	display: inline-block;
	margin-right: 10px;
	color: #8899a6;
}
.text-gray {
	color: #CCC;

}

.td-lineheight i{	  font-size: 10px;}

.dark-gray {
	color: #666;
}
.relcysrchInput .form-control {
	height: auto;
}
.btn-link:hover {
	text-decoration: none;
}
.relcysrchInput .fa-times-circle {
	font-size: 22px;
	margin-top: 15px;
}
.rating span {
	margin-right: 1px!important;
}
.selected {
	border-left: solid 4px #999;
}
footer {
  background-color: #8899a6;
  width: 100%;
  position: fixed;
  bottom: 0px;
  color: #ccd6dd;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
footer a {
	margin: 0px 5px;
	color: #ccd6dd
}
#members_dropdown {
	width: 50%;
	margin-top: 60px;
}
#result-auto_dropdown {
	width: 100%;
	margin-top: 35px;
}
.angucomplete-row {
	height: 60px;
}
.relcysrchInput .input-group {
	display: table-cell
}
.relcysrchInput .input-group .angucomplete-holder .form-control {
	border: none;
	border-bottom: solid 1px #e2e2e2;
	box-shadow: none;
	font-size: 32px;
	background-color: transparent;
	border-radius: 0px;
	font-family: lato;
	font-weight: 300;
	padding: 0;
}
.relcysrchInput .input-group-addon .btn {
	padding: 4px 12px;
}
.btn-circle {
	border-radius: 50%;
	background-color: #ccd6dd;
	height: 24px;
	width: 20px;
	line-height: 24px;
	text-align: center;
	margin-top: 10px;
}
.btn-circle:hover {
	background-color: #666;
}
.btn-circle .glyphicon-search {
	display: inline-block;
	vertical-align: super;
	color: #FFF;
	margin-left: -5px;
	font-size:10px;
}
.btn-circle.btn-link:hover, .btn-circle.btn-link:focus {
	background-color: #999;
}
.relcysrchInput .input-group-addon {
	border-radius: 0px;
}
.angucomplete-dropdown .angucomplete-row {
	border-bottom: solid 1px #e2e2e2;
	height: auto;
}
.angucomplete-dropdown {
  box-shadow: 3px 3px 4px #f2f2f2;
  margin-top: 65px;
  width: 300px;
  padding: 0px;
}
.angucomplete-dropdown .angucomplete-searching {
	padding: 5px 10px;
}
.angucomplete-image-holder img {
	vertical-align: top;
	margin: 0px;
	width:40px;
	height:40px;
}

.angucomplete-image-holder  {
	width:40px;
	height:40px;
}
.media-body .angucomplete-title {
	vertical-align: middle;
	font-size: 13px;
	font-weight: 600;
	display: block;
}
.panelList {
  background-color: #fafcfd;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.panelList a {
  color: #ccd6dd;
  display: inline-block;
  font-size: 7px;
}
.panelList a i{}
.media-body . 
/*Search Result Page*/
.topSection {
height:480px;
background-color:#FFF;
box-shadow:1px 1px 2px #999;
position:relative;
margin-bottom:20px;
}
.topSection .coverImage {
	  height: 150px;
	overflow: hidden;
	background-color:#f5f8fa;
}
.topSection .coverImage img {
	height: auto;
	width: 100%;
}
.topSection .profileImage {
  float: left;
  width: 100px;
  height: 133px;
  overflow: hidden;
  position: absolute;
  top: 85px;
  left: 25px;
  border: solid 1px #f2f2f2;
  background-color:#f5f8fa;
}
.topSection .profileImage img {
  height: 133px;
  width: 100px;
}
.topSection .details {
	padding-left:130px;
	margin: 10px 0;
	color: #666;
}
.topSection .details span {
	display: inline-block;
	padding-right: 10px;
	font-size: 11px;
	font-weight: 300;
	color: #8899a6;
}
.topSection .details h2 {
  margin: 0px 0px;
  font-size: 22px;
  color: #292F33;
}
.topSection .details p {
  color: #8899a6;
  margin-bottom: 0px;
  font-weight: 300;
}
.topSection .details .pull-left {
	margin-right: 6px;
}
.topSection .details .pull-left img {
  margin: 4px 5px 5px 0px;
  float: left;
  width: 12px;
  height: 12px;
}
.panel, .panel-heading, .panel-body {
	border-radius: 0px
}
ul.thumbList {
	padding: 0px;
}
ul.thumbList li {
	list-style: none;
	display: inline-block;
	width: 115px;
	height: 150px;
	overflow: hidden;
}
ul.thumbList .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-bottom: 1px solid #ddd;
	border-top: none;
}
/*mayank*/

.relcysmall {
	font-size: 20px;
	margin-bottom: 0%;
	display: inline-block;
	vertical-align: top;
	color: #8899a6;
	text-transform: uppercase;
	font-weight: 300;
	  margin-left: -30px;
}
.relcysmall img {
	width: 22px;
	display: inline-block;
	vertical-align: top;
	height: 22px
}
.smallform {
	width: 80%;
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
	margin-left:82px;
}
.imagethumb {
  height: 75px;
  width: 100px;
  overflow: hidden;
  background-position: center center;
  position: relative;
  display: inline-block;
  background-size: cover;
  text-align: center;
  padding-top: 25px;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
ul.webimage li {
  display: inline-block;
  width: 75px;
  margin: 10px 0px 10px 5px;
  padding: 0;
}

ul.webimage li img{
	width:75px;
	height:75px;
	border-radius:2px;}


.topictitle {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 15px;
  background: #f5f8fa;
  color: #9299a6;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.detail-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
  background: #fafcfd;
  color: #9299a6 !important;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.mainwrap {
	width: 100%;
	border: solid 1px #eff2f4;
	margin-bottom: 15px;
}
.leftsidebar {
	  width: 180px;
	margin-top: 40px;
}
.rightbar {
	border: solid 1px #eff2f4;
	padding: 0;
	width:200px;
	border-bottom:noen;
}
.rightbar ul li {
	  padding: 8px 10px;
}
.footer .col-lg-5 img {
  width: 15px;
  height: 15px;
}
.footer {
	padding-left: 20px;
}
.angucomplete-image {
	height: 80px;
	width: 80px;
	border-radius: 3px;
}
.dark-gray span {
	display: inline-block;
	font-size:11px;
}
.dark-gray span:first-child {
}
.rating span {
	display: inline;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 2px 15px;
  font-size: 13px;
  color: #8899A6;
  margin-bottom: 10px;
}
.selected a {
	font-weight: 600;
}
.media-heading {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 700;
}
.resultList p span a {
	font-size: 11px;
	color: #2B7BB9;
}
.resultList p {
  font-size: 12px;
  color: #8899a9;
  line-height: 15px;
  font-weight: 300;
  margin-bottom: 0;
}
div.imdb span {
	font-size: 11px !important;
	padding-right: 0 !important;
}
.detail_left {
	float: left;
	display: inline-block;
	vertical-align: top;
	width: 80%;
}
.detail_right {
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 18%;
  margin-top: 0px;
}
.detail_right p {
}
.detail_right p a {
  font-size: 13px;
  display: block;
  margin-bottom: 13px;
  text-decoration: none;
  font-weight: 300;
}
.detail_right p a img {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
.topSection {
	border: solid 1px #e5eaee;
	margin-bottom: 15px;
}
.td-detail {
  font-size: 11px;
  color: #8899a6;
}
.td-title {
  font-size: 12px;
  color: #292f33;
}
.td-title img {
  width: 20px;
  height: 20px;
}
.td-lineheight {
	line-height: 20px !important;
}
.pad_none {
	padding: 0;
}
.table {
	margin-bottom: 0;
}
.detailimages-col {
	padding: 0px;
}
.detailimages-col4 {
	padding:5px;
}
.detailimages-col img {
  width: 100%;

}
.detailimages {
	padding: 10px 5px;
}
.detailvideo {
	padding: 10px;
	border-bottom: solid 1px #e5eaee;
}
.detailvideo img {
	width: 100%;
	height: 75px;
}
.videodetail {
	padding: 0;
	padding-left: 10px;
}
.videodetail p {
	color: #000;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 5px;
}
.videodetail .detail-youtube {
	font-weight: 300;
	color: #8899a6;
}
.video {
	padding: 0;
}
.no-padding {
	padding: 0;
}

.search-result-container{
  width:700px;}
	
.result-list{
	width:470px;}
	
.related-search{}

.related-search h4{
	color:#8899a6;
	margin-bottom:0;
	font-weight:300;}
	
.detail-main-left{
	width:270px;}
	
.detail-main-right{
  width: 415px;
  padding-left: 0;}
  
 .showtimetitle{  padding: 7px;}
 
 .showtimetitle span{  font-size: 12px;
  color: #292f33;
  margin-right: 4px;
}
 
 .showtimetitle span img{  width: 20px;
  height: 20px;}
 
 .showtimetitle span:last-child{  font-size: 11px;
  color: #8899a6;}
  
  
.showtime-time{   padding: 5px;}

.showtime-time span {
    border: 1px solid rgba(204, 214, 221, 0.5);
    color: #8899a6;
    display: inline-block;
    font-size: 11px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 64px;
}
	
	
.pad_left{
	padding-left:15px;}
	
.castlist{
	padding:10px;
	border-bottom:solid 1px #ccd6dd;}
	
.castimage{
	  display: inline-block;
  vertical-align: top;
	}
	
	.castimage img{
		width:55px;
		height:55px;
	}
	
	.castdetail{ display: inline-block;
  vertical-align: top;}
	
.castlist p{ 
  padding: 5px 10px;
  font-weight: 800;
  margin: -5px 0 0;
    font-size: 13px;}
  
.castlist p:last-child{  color: #8899a6;
  font-weight: 600;}
  
.castmodel{

	padding:0;}
	
.modal-content{  border-radius: 0;
  box-shadow: none;
  border: none;}
  

.panel {
    background-color: #fff;
    border: 1px solid #eff2f4;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
}

/*mayank*/
@media screen and (min-width: 1367px) and (max-width: 2000px) {
.leftsidebar {
	width: 208px;
	margin-top: 40px;
}
}
		
		
		

/* saf3+, chrome1+ */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
 .btn-circle .glyphicon-search  { left:0px;  }
}*/
