@charset "utf-8";
/* CSS Document */

body {font-family:"lato", Helvetica, Neue Helvetica, Arial, sans-serif }
.pageMiddle {margin-top:15%;}
.title {font-size:42px; color:#8899a6; margin-bottom:5%; text-transform:uppercase; font-family:latolight}
.titleSmall {font-size:18px; color:#8899a6; margin-bottom:5%; text-transform:uppercase; font-family:latolight}
.relcysrchInput {}
.relcysrchInput input[type="text"] {border:none; box-shadow:none; border-bottom:solid 1px #f2f2f2; font-size:42px; color:#000; font-family:latolight}
.relcysrchInput .input-group-addon {background-color:transparent; border:none; border-bottom:solid 1px #f2f2f2; padding:0px;}
.pageResult {margin-top:-8%;}
ul.resultList {margin-top:5%; padding:0px;}
ul.resultList li {list-style:none; border:solid 1px #f2f2f2; padding:10px; margin-bottom:0px; width:75%;}
.resultList p span {display:inline-block; margin-right:10px; color:#8899a6;}
.text-gray {color:#CCC;}
.relcysrchInput .form-control {height:auto;}
.btn-link:hover{text-decoration:none;}
.relcysrchInput .fa-times-circle {font-size:22px; margin-top:15px;}
.rating span {margin-right:1px!important;}
.selected {border-left:solid 4px #999; }
footer {background-color:#8899a6; padding:20px 0px; width:100%; position:fixed; bottom:0px; color:#ccd6dd; font-size:16px;}
footer a {margin:0px 5px; color:#ccd6dd}
#members_dropdown{
	width: 100%;
	margin-top:35px;
}
#result-auto_dropdown{
	width: 100%;
	margin-top:35px;
}
.angucomplete-row{
	height: 60px;
}